<%= render "shared/vulnerable-banner" %>

<div class="with-left-sidebar">

  <%= render 'shared/side-contact-profile' %>
  <aside class="with-left-sidebar__right">
    <header class="panel-header">
      <h2 class="panel-header__title hidden">Start > Triage > <b>Assign</b> > Complete</h2>
    </header>
    
    <div class="panel panel--unpadded panel--stroked need--phone-triage">
      <%= link_to "Assign #{@assessment.category.humanize} Needs", edit_assessment_path(@assessment.id), class: "panel__header-with-arrow" %>
      <div class="assessment-assign-progress-container">
        <%= render :partial => 'shared/progress-wizard', locals: {state: [2, 2, 1, 0]} %>
      </div>
      <div class="panel__body">
        <% if @assignment_form.errors.any? %>
          <div class="error" id="error_explanation">
            <h2><%= pluralize(@failure_form.errors.count, "error") %> prohibited from being saved:</h2>

            <ul>
              <% @assignment_form.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_with model: @assignment_form, url: update_assignment_assessment_path, :method => :put,
                      :local => true, :html => {:name => 'assessment_assignment_form', :autocomplete => 'off'} do |form| %>
          <%= form.hidden_field :id, :value => @assignment_form.id %>
          <div class="field">
            <table class="needs-table">
              <colgroup>
                <col style="width: 25%"/>
                <col style="width: 25%"/>
                <col style="width: 25%"/>
                <col style="width: 25%"/>
              </colgroup>
              <thead>
              <tr>
                <th>Type</th>
                <th>Priority</th>
                <th>Assigned</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              <% @assignment_form.needs.each_with_index do |n| %>
                <%= form.fields_for 'needs[]', n do |need_fields| %>
                  <tr class="need--<%= n.category.parameterize %> small">
                    <o></o>
                    <td>
                      <%= link_to n.category, n %>
                    </td>
                    <td>
                      <% if n.is_urgent %>
                        <span class="urgent-tag">Urgent</span>
                      <% else %>
                        —
                      <% end %>
                    </td>
                    <td>
                      <%= need_fields.hidden_field :id, :value => n.id %>
                      <%= need_fields.select :assigned_to,
                                             options_for_select([['Assigned to me', 'assigned-to-me'], ['Unassigned', '']], (n.assigned_to.nil?) ? '' : nil) +
                                                 grouped_options_for_select(@assigned_to_options, n.assigned_to, prompt: nil),
                                             {}, {class: "dropdown dropdown-autocomplete assessment-assign-dropdown"} %>
                    </td>
                    <td>
                      <%= need_fields.select :status, need_statuses, {}, { class: "dropdown", "data-minimum-results-for-search" => "Infinity" } %>
                    </td>
                  </tr>
                <% end %>
                <% end %>
                </tbody>
                </table>
                </div>
              <input type="submit" value="Update" class="button button--primary"/>
        <% end %>
      </div>
    </div>
  </aside>
</div>
<%= javascript_pack_tag 'assessment_assignment' %>