<%= render "shared/vulnerable-banner" %>

    <% if @contact_needs.errors.any? || @contact.errors.any? %>
      <div class="error" id="error_explanation">
        <h2><%= pluralize(@contact_needs.errors.count + @contact.errors.count, "error") %> prohibited this assessment form from
          being saved:</h2>

        <ul>
          <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          <% @contact_needs.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <%= render 'shared/side-contact-profile' %>


    <aside class="with-left-sidebar__right">
      <%= form_with(model: @contact_needs, url: contact_assessment_path(@contact.id), method: :put, local: true) do |form| %>

      <header class="panel-header">
         <h2 class="panel-header__title hidden">Start > <b>Triage</b> > Assign > Complete</h2>
      </header>
      
      <div id="assessment-container" class="panel panel--unpadded ">
        <%= link_to "Triage", contact_start_assessment_path(contact_id: @contact.id, id: @assessment.id), class: "panel__header-with-arrow" %>
        <div class="assessment-triage-progress-container">
          <%= render :partial => 'shared/progress-wizard', locals: {state: [2, 1, 0, 0]} %>
        </div>
      <div>
        <section class="assessment-grid">
          <% always_visible_needs(@contact_needs).each do |need_entry| %>
            <%= render :partial => 'need-item', locals: { need_entry: need_entry, form: form} %>
          <% end %>
        </section>
        <section>
          <section class="accordion assessment">
            <button class="accordion__control" type="button" aria-expanded="false">
              <h2 class="accordion__title">
                Other needs (<%= hidden_needs(@contact_needs).count %>)
              </h2>
            </button>
            <div class="accordion__content" hidden="hidden">
              <section class="assessment-grid">
                <% hidden_needs(@contact_needs).each do |need_entry| %>
                  <%= render :partial => 'need-item', locals: { need_entry: need_entry, form: form } %>
                <% end %>
              </section>
            </div>
          </section>
        </section>
        </div>
      </div>

      <div class="panel-buttons-right assessment-buttons-right">
        <%= form.button "Failed call", class: "button--larger button--dark", id: "assessment-cancel", name: "status", value: "fail" %>
        <%= form.button "Continue and assign", class: "button--larger button--blue", id: "assessment-submit-btn" %>
      </div>

    <% end %>
    </aside>
    
  </div>

<%= javascript_pack_tag 'needs-accordion.js', 'data-turbolinks-track': 'reload' %>