<%= render "shared/vulnerable-banner" %>

<div class="with-left-sidebar">

    <%= render 'shared/side-contact-profile' %>

    <aside class="with-left-sidebar__right">
        <header class="panel-header">
            <h2 class="panel-header__title">Assessments</h2>
        </header>

        <section>
            <header class="bg-black u-p">
                <h5 class="c-white u-mb0">
                    <%= link_to contact_path(@contact.id) do -%><i class="bg-white c-icon c-icon--chevron-left u-mr"></i><% end -%>
                    Schedule an assessment</h5>
            </header>

            <div class="bg-white u-p">
                <%= render "shared/create-need-errors" %>

                <%= form_with(model: @need, url: contact_assessments_path, local: true, class: "camden-form") do |f| %>
                    <%= f.hidden_field :lock_version, :value => @need.lock_version %>

                    <div class="o-layout">
                        <fieldset class="u-mb o-layout__item u-1-of-3">
                            <%= f.label :assigned_to, 'Assigned to'%>
                            <div class="select-container u-mt-">
                                <%= f.select :assigned_to, options_for_select([['Assigned to me','assigned-to-me'], ['Unassigned', '']], (@need.assigned_to.nil?) ? '' : nil) + grouped_options_for_select(@assigned_to_options, @need.assigned_to, prompt: nil), { class: 'submit-on-change' } %>
                            </div>
                        </fieldset>

                        <fieldset class="u-mb o-layout__item u-1-of-3">
                            <%= f.label :is_urgent, 'Priority'%>
                            <div class="select-container u-mt-">
                                <%= f.select :is_urgent, {
                                    "Urgent" => true,
                                    "Normal" => false
                                }, {}, { class: "submit-on-change", "data-minimum-results-for-search" => "Infinity" } %>
                            </div>
                        </fieldset>

                        <fieldset class="u-mb o-layout__item u-1-of-3">
                            <%= f.label :status, 'Status'%>
                            <div class="select-container u-mt-">
                                <%= f.select :status, need_statuses, {}, { class: "submit-on-change", "data-minimum-results-for-search" => "Infinity" } %>
                            </div>
                        </fieldset>
                    </div>

                    <fieldset class="u-mb">
                        <h6>Category</h6>

                        <div class="u-mb">
                            <%= f.radio_button :category, 'triage'%>
                            <%= f.label :category_triage, "Triage" %>
                        </div>
                        <div class="u-mb">
                            <%= f.radio_button :category, 'check in'%>
                            <%= f.label :category_check_in, "Check in" %>
                        </div>
                        <div class="u-mb">
                            <%= f.radio_button :category, 'mdt review'%>
                            <%= f.label :category_mdt_review, "MDT review" %>
                        </div>
                    </fieldset>

                    <fieldset class="u-mb">
                        <%= f.label :name, "Description" %>
                        <div>
                          <%= f.text_field :name, placeholder: 'Describe how we can help' %>
                        </div>
                    </fieldset>
                    <% if @type == 'log' %>
                        <%= f.fields_for :note, @note do |notes_fields| %>
                            <div class="field">
                                <%= notes_fields.text_area :body, placeholder: 'Call notes' %>
                            </div>
                        <% end %>
                    <% elsif @type == 'schedule' %>
                        <fieldset class="u-mb">
                            <%= f.label :start_on, "When should the call be scheduled for?" %>
                            <div>
                              <%= f.text_field :start_on, autocomplete: 'off', placeholder: 'Date (e.g. 25/04/2020)'  %>
                            </div>
                        </fieldset>
                    <% end %>
                    <%= f.button class: "c-btn c-btn--primary u-mt" do %>
                        Save to profile
                        <i class="c-icon c-icon--chevron-right bg-white"></i>
                    <% end %>
                <% end %>
            </div>
        </section>
    </aside>

</div>

<%= javascript_pack_tag 'assessments' %>
<%= javascript_pack_tag 'assessment_datepicker' %>
<%= javascript_pack_tag 'users_viewing_page.js' %>
