<%= render "shared/vulnerable-banner" %>

<div class="with-left-sidebar">

<%= render 'shared/side-contact-profile' %>

  <aside class="with-left-sidebar__right">
    <header class="panel-header">
      <h2 class="panel-header__title"><br/></h2>
    </header>
    <div class="panel panel--unpadded panel--stroked need--phone-triage">
      <%= link_to "#{@type.humanize}", contact_path(@contact.id), class: "panel__header-with-arrow" %>
      <div class="panel__body">
        <%= render "shared/create-need-errors" %>

        <%= form_with(model: @need, url: contact_assessments_path, local: true, id: "formAssessment") do |form| %>
          <input type="hidden" value="<%= @type %>" name="type" hidden="hidden">
          <div class="need-actions">
            <div class="need-actions__field" id="teams-actions__field">
              <%= form.label :user_id, 'Assigned to', class: 'need-actions__label dropdown-label' %>
              <%= form.select :assigned_to, grouped_options_for_select(@assigned_to_options, @need.assigned_to, prompt: 'Unassigned'), {}, { class: "need-actions__select dropdown" } %>
            </div>

            <div class="need-actions__field" id="priority-actions__field">
              <%= form.label :is_urgent, 'Priority', class: 'need-actions__label dropdown-label' %>
              <%= form.select :is_urgent, {
                  "Urgent" => true,
                  "Normal" => false
              }, {}, {class: @need.is_urgent ? "need-actions__select need-actions__select--red" : "need-actions__select dropdown", "data-minimum-results-for-search" => "Infinity"} %>
            </div>

            <div class="need-actions__field" id="status-actions__field">
              <%= form.label :status, 'Status', class: 'need-actions__label' %>

              <% if @type == 'log' %>
                <%= form.select :status, [%w(Complete complete)], {}, {class: "need-actions__select", readonly: true, "data-minimum-results-for-search" => "Infinity"} %>
              <% else %>
                <%= form.select :status, need_statuses, {}, {class: "need-actions__select dropdown", "data-minimum-results-for-search" => "Infinity"} %>
              <% end %>
            </div>
          </div>

          <fieldset class="field-section">
            <legend class="field-section__title">Category</legend>
            <div class="radio">
              <%= form.radio_button :category, 'triage', {:checked => @need[:category] == 'Triage'} %>
              <%= form.label :category_triage, "Triage", class: "radio__label" %>
            </div>
            <div class="radio">
              <%= form.radio_button :category, 'check in', {:checked => @need[:category] == 'Check in'} %>
              <%= form.label :category_check_in, "Check in", class: "radio__label" %>
            </div> 
            <div class="radio">
              <%= form.radio_button :category, 'mdt review', {:checked => @need[:category] == 'MDT review'} %>
              <%= form.label :category_mdt_review, "MDT review", class: "radio__label" %>
            </div>
          </fieldset>
          <br/>

          <% if @type == 'log' %>
            <%= fields_for :note, @note do |notes_fields| %>
              <div class="field">
                <%= notes_fields.text_area :body, placeholder: 'Call notes' %>
              </div>              
            <% end %>
          <% elsif @type == 'schedule' %>
            <div class="field">
              <%= form.label :name, "Support action description", class: "field__label" %>
              <%= form.text_field :name, placeholder: 'Describe the support action' %>
            </div>

            <div class="field">
              <%= form.label :start_on, "When should the call be scheduled for?", class: "field__label" %>
              <%= form.text_field :start_on, { autocomplete: 'off' } %>
            </div>
          <% end %>

          <%= form.button "Save to profile", class: "button button--primary" %>
        <% end %>
        </div>
      </div>
  </aside>

</div>

<%= javascript_pack_tag 'assessments' %>
<%= javascript_pack_tag 'assessment_datepicker' %>
<%= javascript_pack_tag 'users_viewing_page.js' %>