<%= render "shared/vulnerable-banner" %>

<div class="with-left-sidebar">

  <aside class="with-left-sidebar__left">
    <header class="panel-header">
      <h2 class="panel-header__title">Profile</h2>
    </header>
    <div class="panel panel--unpadded">  
      <%= render "shared/profile-accordion" %>
    </div>
  </aside>

  <aside class="with-left-sidebar__right">
    <header class="panel-header">
      <h2 class="panel-header__title">Needs</h2>
      <% if @contact.needs.any? %>
        <span class="panel-header__badge"><%= @contact.needs.count %></span>
      <% end %>
      <div class="btn-triage-container">
        <%= link_to "Add assessment", new_contact_assessment_path(@contact), class: "btn-triage button button--dark" %>
        <%= link_to "Add needs", contact_triage_path(@contact), class: "btn-triage button button--dark" %>
      </div>
    </header>
    <div class="panel panel--unpadded" style="border-left: 5px solid #2A2828">
      <%= link_to 'Schedule an assessment', new_contact_assessment_path(@contact), class: "panel__header" %>
      <div class="panel__body">

        <%= form_with(model: @need, local: true) do |f| %>

          <fieldset class="need-actions">
            <div class="need-actions__field" id="assigned-actions__field">
            <%= f.label :user_id, 'Assigned to', class: 'need-actions__label' %>
            <%= f.collection_select :user_id, @users, :id, :name_or_email, { include_blank: "Unassigned" }, { class: "need-actions__select" } %>
            </div>

            <div class="need-actions__field" id="priority-actions__field">
            <%= f.label :is_urgent, 'Priority', class: 'need-actions__label' %>
            <%= f.select :is_urgent, {
                "Normal" => false,
                "Urgent" => true
            }, {}, { class: "need-actions__select" } %>
            </div>

            <div class="need-actions__field" id="status-actions__field">
            <%= f.label :status, 'Status', class: 'need-actions__label' %>
            <%= f.select :status, options_for_select(need_statuses, 'to_do'), {}, { class: "need-actions__select" } %>
            </div>
          </fieldset>

          <fieldset class="field-section field-section--two-cols">
            <legend class="field-section__title">Assessment type</legend>
            <div class="radio">
              <%= f.radio_button :category, 'phone triage' %>
              <%= f.label :category_phone_triage, "Phone triage", class: "radio__label" %>
            </div>
            <div class="radio">
              <%= f.radio_button :category, 'check in' %>
              <%= f.label :category_check_in, "Check-in", class: "radio__label" %>
            </div>
          </fieldset>

          <div class="field">
            <%= f.label :description, 'Describe how we can help', class: 'field__label' %>
            <%= f.text_area :description %>
          </div>

          <fieldset class="field-section field-section--two-cols">
            <legend><h3 class="field-section__title">When should this call be scheduled for?</h3></legend>
            <div class="field field--span-two-cols">
              <%= f.label :start_on, "Date (e.g. #{DateTime.now.strftime("%-d/%-m/%Y")})", class: "field__label" %>
              <%= f.text_field :start_on, class: 'datepicker' %>
            </div>
          </fieldset>

          <%= f.button "Save", class: "button button--primary", id: "triage-submit-btn" %>
        <% end %>

      </div>
    </div>
  </aside>

</div>

<%= javascript_pack_tag 'phone_triage_datepicker' %>
