<p id="notice"><%= notice %></p>

<div class="tabs">
  <div class="tabs__tab tabs__tab--current">Just mine</div>
  <%= link_to "All", tasks_path, controller: :tasks, class: "tabs__tab" %>
</div>

<div class="page-header">
  <h1 class="page-title">My tasks <span class="page-title__count">(<%= @tasks.length %>)</span></h1>
</div>

<%= render 'shared/tasks_table', tasks: @tasks %>
<%= javascript_pack_tag 'datatables' %>