<table class="table data-table">
  <thead>
  <tr>
    <th width="15%">
      <div class="sortable">
          Category
          <div class="sortable__controls">
            <%= link_to_unless_current image_tag("sort-asc.svg", alt: "sort ascending"), @params.merge(order: 'category', order_dir: 'ASC') do %><%= image_tag "sort-asc-grey.svg", alt: "sorted ascending" %><% end %>
            <%= link_to_unless_current image_tag("sort-desc.svg", alt: "sort descending"), @params.merge(order: 'category', order_dir: 'DESC') do %><%= image_tag "sort-desc-grey.svg", alt: "sorted descending" %><% end %>
          </div>
        </div>
    </th>
    <th width="60%">Body</th>
    <th>
    <div class="sortable">
        Deleted
        <div class="sortable__controls">
          <%= link_to_unless_current image_tag("sort-asc.svg", alt: "sort ascending"), @params.merge(order: 'deleted_at', order_dir: 'ASC') do %><%= image_tag "sort-asc-grey.svg", alt: "sorted ascending" %><% end %>
          <%= link_to_unless_current image_tag("sort-desc.svg", alt: "sort descending"), @params.merge(order: 'deleted_at', order_dir: 'DESC') do %><%= image_tag "sort-desc-grey.svg", alt: "sorted descending" %><% end %>
        </div>
      </div>
  </th>
  <th></th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |n| %>
    <tr class="selectable">
      <td>
        <%= n.category %>
      </td>
      <td><%= n.body %></td>
      <td><%= n.deleted_at.strftime("%-d %B %Y, %H:%M:%S") %></td>
      <td>
        <%= link_to 'Restore', { controller: :needs, action: :restore_note, id: n.id }, 
        class: "button", id: "restore-note-#{n.id}", method: :post, 
        data: { confirm: 'Are you sure you want to restore this record?' }  %>            
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
    
