<%= form_with(model: @need, local: true, class: "camden-form") do |f| %>
    <%= f.hidden_field :lock_version, :value => @need.lock_version %>

    <div class="o-layout">
        <fieldset class="u-mb o-layout__item u-1-of-3">
            <%= f.label :assigned_to, 'Assigned to'%>
            <div class="select-container u-mt-">
                <%= f.select :assigned_to, options_for_select([['Assigned to me','assigned-to-me'], ['Unassigned', '']], (@need.assigned_to.nil?) ? '' : nil) + grouped_options_for_select(@assigned_to_options, @need.assigned_to, prompt: nil), { class: 'submit-on-change' } %>
            </div>
        </fieldset>

        <fieldset class="u-mb o-layout__item u-1-of-3">
            <%= f.label :is_urgent, 'Priority'%>
            <div class="select-container u-mt-">
                <%= f.select :is_urgent, {
                    "Urgent" => true,
                    "Normal" => false
                }, {}, { class: "submit-on-change", "data-minimum-results-for-search" => "Infinity" } %>
            </div>
        </fieldset>

        <fieldset class="u-mb o-layout__item u-1-of-3">
            <%= f.label :status, 'Status'%>
            <div class="select-container u-mt-">
                <%= f.select :status, need_statuses, {}, { class: "submit-on-change", "data-minimum-results-for-search" => "Infinity" } %>
            </div>
        </fieldset>
    </div>

    <fieldset class="u-mb">
        <%= f.check_box :send_email, {}, 'true', 'false' %>
        <%= f.label :send_email, 'Send notification email?'  %>
    </fieldset>

<% end %>

<!-- FIXME - we ought to consolidate all the javascripts in the packs folder. The intention of a pack is to be a webpack entrypoint, of which we'd probably only need one, which conisists of several javascript files. By having several packs we're losing some of the benefits of webpacks compression and reducing HTTP requests. By having the script tag loading here in the middle of the body, we're slowing the page render time down.
-->
<%= javascript_pack_tag 'need-actions', 'data-turbolinks-track': 'reload' %>
