<section class="notes">
  
  <%= form_with(model: [@need, @need.notes.build], local: true, class: "notes__form") do |form| %>
    <h3 class="notes__title">Updates</h3>
    <fieldset class="field-section field-section--four-cols">
      <legend>
        <%= form.label :category, 'Choose a category', class: "field__label" %>
      </legend>
      <% Note.categories_without_phone_import.each.with_index do |nc, index| %>
        <div class="radio">
          <% field_value = "category_#{note_category_form_id(nc)}"  %>
          <%= form.radio_button :category, note_category_form_id(nc), :id => field_value, :checked => index == 0 %>
          <label for=<%= field_value %> class="radio__label"><%= note_category_form_display(nc) %></label>
        </div>
      <% end %>
    </fieldset>
    <%= form.label :body, 'Add a note', class: "visually-hidden" %>
    <%= form.text_field :body, class: "notes__field", placeholder: "Add a note" %>
    <%= form.submit "Add update", class: "button notes__button" %>
  <% end %>

  <% if @need.notes.without_deleted.length > 0 %>
    <div class="notes__list">
      <% @need.notes.without_deleted.order(:id).reverse.each do |note| %>
        <article class="note">
          <header class="note__header">
            <strong><%= note.category %></strong>
            <time datetime="<%= note.created_at %>" title="<%= note.created_at %>">
              <%= time_ago_in_words(note.created_at).humanize %> ago 
            </time>
            <% if note.user %>
              by <%= note.user.name_or_email %>
            <% end %>

            <% if policy(note).destroy? %>
              <%= link_to 'Delete',  { action: :destroy, id: note.id, note_only: true, need_id: @need.id}, class: "note-delete-link", method: :delete, data: { confirm: "Are you sure" } %>
            <% end %>
            
          </header>
          <p class="note__body"><%= simple_format note.body %></p>
        </article>
      <% end %>
    </div>
  <% end %>
</section>

