<section class="notes">
  
  <%= form_with(model: [@need, @need.notes.build], local: true, class: "notes__form") do |form| %>
    <h3 class="notes__title">Call notes</h3>
    <fieldset class="field-section">
      <legend class="field-section__title">
        <%= form.label :category, 'Choose a note subject', class: "field__label" %>
      </legend>
      
      <%= form.select :category, Note::CALL_TITLES, {include_blank: ''}, class: 'note_categories' %>
      
    </fieldset>
    <%= form.label :body, 'Additional notes (optional)' %>
    <%= form.text_field :body, class: "notes__field", placeholder: "Add notes here" %>
    <%= form.submit "Save update to call", class: "button notes__button" %>
  <% end %>

  <% if @need.notes.without_deleted.length > 0 %>
    <div class="notes__list">
      <% @need.notes.without_deleted.order(created_at: :desc).each do |note| %>
        <article class="note">
          <header class="note__header">
            <strong><%= notes_category_helper note.category %></strong><br/>
            <time datetime="<%= note.created_at %>" title="<%= note.created_at %>">
              <%= note.created_at.strftime('%H:%M on %d %b %Y') %>
            </time>
            <% if note.user %>
              <span>by <%= note.user.name_or_email %></span>
            <% end %>
            
            <% if policy(note).edit? %>
              <%= link_to "Edit", edit_note_path(note), class: "button button--blue edit-note-btn", id:"edit-note-#{note.id}-btn", remote: true %>
            <% end %>
            
            <% if policy(note).destroy? %>
              <%= link_to 'Delete',  { action: :destroy, id: note.id, note_only: true, need_id: @need.id}, 
                class: "note-delete-link", id: "delete-note-#{note.id}", method: :delete, 
                data: { confirm: "Are you sure" } %>
            <% end %>
            
          </header>
          <div id="note-<%= note.id %>-container">
            <%= render partial:'shared/note', locals: {note: note} %>
          </div>
        </article>
      <% end %>
    </div>
  <% end %>
</section>

<%= javascript_pack_tag 'notes' %>

