<section class="notes">
  
  <%= form_with(model: [@need, @need.notes.build], local: true, class: "notes__form") do |form| %>
    <h3 class="notes__title">Updates</h3>
    <%= form.label :body, 'Add a note', class: "visually-hidden" %>
    <%= form.text_field :body, class: "notes__field", placeholder: "Add a note" %>
    <%= form.submit "Add update", class: "button notes__button" %>
  <% end %>

  <div class="notes__list">
    <% @need.notes.reverse_each do |note| %>
      <% next if note == @need.notes.last %>
        <article class="note">
          <header class="note__header"><%= time_ago_in_words(note.created_at) %> ago | <%= note.user.name_or_email %></header>
          <p class="two-thirds"><%= note.body %></p>
        </article>
      <% end %>
  </div>

</section>