<% if @contact.is_vulnerable %>
  <div class="vulnerable-banner">
    <div class="container"><%= image_tag "exclamation.svg", alt: "" %> This is a vulnerable person</div>
  </div>
<% end %>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<%= form_with(model: @need, local: true) do |form| %>
  <div class="tabs">
    <%= link_to "#{@contact.first_name}'s Needs (#{@contact.needs.count})", contact_needs_path(@contact), class: 'tabs__tab tabs__tab--current' %>
    <div class="tabs__tab"><%= link_to 'Profile', @need.contact %></div>
  </div>
  <div style="float: right"><%= form.submit "Save" %></div>

  <div class="go-back"><%= link_to 'Back', contact_needs_path(@contact) %></div>

  <% if @need.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
        <% @need.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <thead>
    <tr>
      <td>Created on</td>
      <td><%= form.label 'Assigned to' %></td>
      <td><%= form.label 'Status' %></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="need__created"><%= @need.created_at.strftime("%d/%m/%Y") %></td>
      <td>
          <%= form.collection_select :user_id, @users, :id, :name_or_email, include_blank: 'Unassigned' %>
      </td>
      <td>
          <%= form.select :status, %w[Todo Complete] %>
      </td>

    </tr>
    </tbody>
  </table>
<% end %>

<div>Need</div>

<div class="page-header">
  <h1 class="page-title"><%= @need.category %></h1>
</div>



<div class="contact-profile">
  <div class="contact-profile__left">
    <div class="contact-profile__row">
      <strong>Description</strong><span><%= @need.name %></span>
    </div>
  </div>
</div>
Profile info
<hr>

<div class="contact-profile">
  <div class="contact-profile__left">
    <div class="contact-profile__row">
      <strong>Name</strong><span><%= @contact.name %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Tel.</strong><%= @contact.telephone %>
    </div>

    <div class="contact-profile__row">
      <strong>Additional Info:</strong>
      <%= @contact.additional_info %>
    </div>

  </div>
</div>
