<% if @contact.is_vulnerable %>
  <div class="vulnerable-banner">
    <div class="container"><%= image_tag "exclamation.svg", alt: "" %> This is a vulnerable person</div>
  </div>
<% end %>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "People in need", contacts_path %></li>
  <li>Person</li>
</ol>

<div class="tabs">
  <div class="tabs__tab"><%= link_to 'Profile' , @need.contact %></div>
  <%= link_to "#{@contact.first_name}'s Needs (#{@contact.needs.count})", contact_needs_path(@contact), class: 'tabs__tab tabs__tab--current' %>
</div>

<%= form_with(model: @need, local: true) do |form| %>

  <div class="page-header page-header--with-button">
    <h1 class="page-title"><%= @need.category.humanize %></h1>
    <%= form.submit 'Save', class: 'button pull-right' %>
  </div>

  <div class="go-back"><%= link_to 'Back', need_path(@need) %></div>

  <% if @need.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
        <% @need.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contact-profile">
    <div class="contact-profile__left">
      <div class="contact-profile__row">
        <strong><%= form.label :user_id, 'Assigned to' %></strong>
        <%= form.collection_select :user_id, @users, :id, :name_or_email, include_blank: 'Unassigned' %>
      </div>
      <div class="contact-profile__row">
        <strong><%= form.label :status, 'Status' %></strong>
        <%= form.select :status, %w[Todo Complete] %>
      </div>
      <div class="contact-profile__row">
        <strong><%= form.label :name, 'Description' %></strong>
        <span><%= form.text_area :name %></span>
      </div>
    </div>
  </div>

<% end %>
