<% content_for :header do %>
  <%= link_to "Export", url_for(params: request.query_parameters, :format => 'csv'), class: "button button--dark" %>


  <%= render "filters" %>


<%= javascript_pack_tag 'filters', 'data-turbolinks-track': 'reload' %>

<% end %>

<header class="panel-header">
  <h1 class="panel-header__title">All needs</h1>
</header>

<%= render "bulk-actions" %>

<div class="panel">
  <% if @needs.any? %>
    <table class="table data-table">
      <thead>
      <tr>
        <th>
          
        </th>
        <th>
          <div class="sortable">
              Category
              <div class="sortable__controls">
                <%= link_to_unless_current image_tag("sort-asc.svg", alt: "sort ascending"), @params.merge(order: 'category', order_dir: 'ASC') do %><%= image_tag "sort-asc-grey.svg", alt: "sorted ascending" %><% end %>
                <%= link_to_unless_current image_tag("sort-desc.svg", alt: "sort descending"), @params.merge(order: 'category', order_dir: 'DESC') do %><%= image_tag "sort-desc-grey.svg", alt: "sorted descending" %><% end %>
              </div>
            </div>
        </th>
        <th>Person</th>
        <th>Vulnerable</th>
        <th>Status</th>
        <th>
          <div class="sortable">
              Urgent
              <div class="sortable__controls">
                <%= link_to_unless_current image_tag("sort-asc.svg", alt: "sort ascending"), @params.merge(order: 'is_urgent', order_dir: 'ASC') do %><%= image_tag "sort-asc-grey.svg", alt: "sorted ascending" %><% end %>
                <%= link_to_unless_current image_tag("sort-desc.svg", alt: "sort descending"), @params.merge(order: 'is_urgent', order_dir: 'DESC') do %><%= image_tag "sort-desc-grey.svg", alt: "sorted descending" %><% end %>
              </div>
            </div>
        </th>
        <th>
          <div class="sortable">
              Created
              <div class="sortable__controls">
                <%= link_to_unless_current image_tag("sort-asc.svg", alt: "sort ascending"), @params.merge(order: 'created_at', order_dir: 'ASC') do %><%= image_tag "sort-asc-grey.svg", alt: "sorted ascending" %><% end %>
                <%= link_to_unless_current image_tag("sort-desc.svg", alt: "sort descending"), @params.merge(order: 'created_at', order_dir: 'DESC') do %><%= image_tag "sort-desc-grey.svg", alt: "sorted descending" %><% end %>
              </div>
            </div>
        </th>
        <th>Assigned to</th>
        <th>Team</th>
        <th>
          <div class="sortable">
          Last contacted
          <div class="sortable__controls">
            <%= link_to_unless_current image_tag("sort-asc.svg", alt: "sort ascending"), @params.merge(order: 'last_phoned_date', order_dir: 'ASC') do %><%= image_tag "sort-asc-grey.svg", alt: "sorted ascending" %><% end %>
            <%= link_to_unless_current image_tag("sort-desc.svg", alt: "sort descending"), @params.merge(order: 'last_phoned_date', order_dir: 'DESC') do %><%= image_tag "sort-desc-grey.svg", alt: "sorted descending" %><% end %>
          </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @needs.each do |n| %>
        <tr class="clickable" onclick="window.location='<%= need_path(n) %>'">
          <td>
            <%= check_box_tag("need[#{n.id}]", n.id, false, { class: "select-needs bulk-action-checkbox" }) %>
          </td>
          <td>
            <%= link_to humanize_text(n.category), n, class: "primary-link" %>
          </td>
          <td><%= n.contact_name %></td>
          <td>
            <% if n.contact_is_vulnerable %>
              <%= image_tag "red-tick.svg", alt: "vulnerable" %>
            <% else %>
              —
            <% end %>
          </td>
          <td><%= n.status_label %></td>
          <td>
            <% if n.is_urgent %>
              <span class="urgent-tag">Urgent</span>
            <% else %>
              —
            <% end %>
          </td>
          <td><%= n.created_at.strftime("%-d %B %Y") %></td>
          <td>
            <% if n.user %>
              <%= n.user.name_or_email %>
            <% else %>
              Unassigned
            <% end %>
          </td>
          <td>
            <% if n.role %>
              <%= n.role.name %>
            <% end %>
          </td>
          <td>
            <%= n.last_phoned_date&.strftime("%-d %B %Y") %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= render "shared/pagination", model: @needs %>
    <%= javascript_pack_tag 'bulk-actions', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <p class="no-results">No matches</p>
  <% end %>
</div>
