<p id="notice"><%= notice %></p>

<div class="tabs">
  <%= link_to "Just mine", my_needs_path, controller: :my_needs, class: "tabs__tab" %>
  <div class="tabs__tab tabs__tab--current">All</div>
</div>

<div class="page-header">
  <h1 class="page-title">All needs <span class="page-title__count">(<%= @needs.total_count %>)</span></h1>
</div>

<%= form_with(url: needs_url, method: :get, local: true) do %>
  <table class="table needs-table">
    <tfoot>
    <tr>
      <th>
        <%= select_tag("user_id", content_tag(:option,'Unassigned',:value => "Unassigned", :selected => params["user_id"] == "Unassigned") + options_from_collection_for_select(@users, :id, :name_or_email, :selected => params['user_id']), prompt: 'Select a user') %>
      </th>
      <th>
        <!-- has to be empty -->
      </th>
      <th>
        <!-- has to be empty -->
      </th>
      <th>
        <%= select_tag("status", options_for_select(need_statuses, :selected => get_param_capitalized('status')), prompt: 'Select a status') %>
      </th>
      <th>
        <!-- has to be empty -->
      </th>
      <th>
        <%= select_tag("category", options_for_select(need_categories, :selected => get_param_capitalized('category')), prompt: 'Select a category') %>
      </th>
      <th>
        <!-- has to be empty -->
      </th>
    </tr>
    </tfoot>
  </table>
  <%= submit_tag("Search") %>
<% end %>
<br/>

<form action="/needs" method="get">
  <%= render 'shared/needs_table', needs: @needs %>
</form>