<p id="notice"><%= notice %></p>

<div class="tabs">
  <%= link_to "Just mine", my_needs_path, controller: :my_needs, class: "tabs__tab" %>
  <div class="tabs__tab tabs__tab--current">All</div>
</div>

<div class="page-header">
  <% if params["needs_list"].present? %>
    <h1 class="page-title"><%= params["needs_list"].humanize %></h1>
    <% else %>
    <h1 class="page-title">All needs <span class="page-title__count">(<%= @needs.length %>)</span></h1>
  <% end %>
</div>

<form action="/needs" method="get">
  <%= render 'shared/needs_table', needs: @needs %>
</form>

<% if params["needs_list"].present? %>
  <%= paginate(@needs) %>
  <% else %>
  <%= javascript_pack_tag 'datatables' %>
<% end %>