  <%= render "shared/vulnerable-banner" %>

<div id="lead-service-panel" >
  <%= render partial: 'shared/lead_service_panel', locals: { contact: @contact, teams_options: @teams_options} %>
</div>

<div class="with-left-sidebar">

<%= render 'shared/side-contact-profile' %>

  <aside class="with-left-sidebar__right">
    <header class="panel-header" id="needs-panel">
      <h2 class="panel-header__title">Needs</h2>
      <% if @contact.needs.any? %>
        <span class="panel-header__badge"><%= @contact.needs.count %></span>
      <% end %>
      <% if policy(Need).create? %>
        <%= link_to "Add needs +", contact_triage_path(@contact), class: "btn-triage" %>
      <% end %>
    </header>

    <div class="panel panel--unpadded panel--stroked need--<%= @need.category.parameterize %>">
      <div class="panel__header">
        <%= link_to image_tag("left.svg", alt: "Go back"), contact_path(@contact), class: "go-back" %>
        <%= link_to @need.category, @contact, class: "panel__header-link", id: "need-#{@need.id}-title" %>
        <div class="buttons-container">
          <% if policy(@need).edit? %>
            <%= link_to "Edit", edit_need_path(@need), class: "button button--blue", id:"edit-need-btn", remote: true %>
          <% end %>
          <% if @need.assessment_start? %>
            <% if policy(@need).start_assessment? %>
              <%= link_to "Start #{@need.category}", contact_start_assessment_path(contact_id: @need.contact_id, id: @need), class: "button button--blue button-link", id:"edit-assessment-btn" %>
            <% else %>
              <button class="button button--disabled" type="button" title="You need to assign this to yourself" id="start-assessment-disabled-btn">Start <%= @need.category %></button>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if policy(@need).destroy? %>
        <%= link_to 'Delete',  { action: :destroy, id: @need.id }, 
          class: "need-delete-link", id: "delete-need-#{@need.id}", method: :delete, 
          data: { confirm: @delete_prompt } %>
      <% end %>
      
      <div class="panel__body">
        <div class="needs-container">
          <div id="need-error-container"></div>
          <%= render "need-actions" %>
          <div id="need-fields-container">
            <%= render "shared/need-fields" %>
          </div>
        </div>
      </div>
      <div class="notes-container">
        <%= render "notes" %>
      </div>
    </div>
  </aside>

</div>

<%= javascript_pack_tag 'require-datepicker' %>