<% if @contact.is_vulnerable %>
<p class="error">This is a vulnerable person</p>
<% end %>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "People", contacts_path %></li>
  <li><%= link_to @need.contact.first_name, @need.contact %></li>
  <li><%= link_to "Needs", needs_path %></li>
  <li><%= @need.name %></li>
</ol>

<h1 class="page-title"><%= @need.name %></h1>

<table class="table">
  <tbody>
    <tr>
      <td><%= @need.name %></td>
      <td><%= @need.completed_on.present? ? 'Complete' : 'Incomplete' %></td>
      <% if @need.user %>
        <td>Assigned to <%= @need.user.name_or_email %></td>
      <% else %>
        <td>Unassigned</td>
      <% end %>
      <td><%= @need.category %></td>
      <td><%= @need.due_by.strftime("%d/%m/%Y %I:%M%p") %></td>
      <td><%= link_to 'Edit', edit_need_path(@need) %></td>
    </tr>
  </tbody>
</table>

<hr>

<h2>For <%= "#{@contact.first_name} #{@contact.middle_names} #{@contact.surname}" %></h2>

<div class="contact-profile">
  <div class="contact-profile__left">
    <div class="contact-profile__row">
      <strong>Address</strong><span><%= @contact.address %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Phone:</strong>
      <%= @contact.telephone %>
    </div>

    <div class="contact-profile__row">
      <strong>Mobile:</strong>
      <%= @contact.mobile %>
    </div>

    <div class="contact-profile__row">
      <strong>NHS Number</strong><span>PLACEHOLDER</span>
    </div>

  </div>
  <div class="contact-profile__right">
    <div class="contact-profile__row">
      <strong>Needs:</strong>
      PLACEHOLDER
    </div>

    <div class="contact-profile__row">
      <strong>Additional Information</strong>
      PLACEHOLDER
    </div>
  </div>
</div>
<div>
  <%= link_to "More about #{@contact.name}", contact_path(@contact) %>
</div>

<table class="table">
  <% @need.notes.each do |note| %>
    <tbody>
    <tr>
      <td style="vertical-align: top"><%= "Previous notes:" if note == @need.notes.first %></td>
      <td><%= note.user.name_or_email %></td>
      <td><%= note.body %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_with(model: [@need, @need.notes.build], local: true) do |form| %>
  <p>
    <%= form.label 'Add a note' %><br>
    <%= form.text_area :body, class: 'note-textarea'%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
