<% content_for :header do %>
  <%= link_to "Triage", contact_triage_path(@contact), class: "button button--dark" %>
<% end %>

<%= render "shared/vulnerable-banner" %>

<div class="with-left-sidebar">

  <aside class="with-left-sidebar__left">
    <header class="panel-header">
      <h2 class="panel-header__title">Profile</h1>
    </header>
    <div class="panel panel--unpadded">  
      <%= render "shared/profile-accordion" %>
    </div>
  </aside>

  <aside class="with-left-sidebar__right">
    <header class="panel-header">
      <h2 class="panel-header__title">Needs</h1>
      <% if @contact.needs.any? %>
        <span class="panel-header__badge"><%= @contact.needs.count %></span>
      <% end %>
      <%#= link_to "Add a need", new_contact_need_path(@contact), class: "panel-header__action" %>
    </header>
    <div class="panel panel--unpadded">
      <%= link_to @need.category.humanize, @contact, class: "panel__header" %>
      <div class="panel__body">

        <%= render "need-actions" %>

        <dl class="details-list">
          <dt class="details-list__caption">Description</dt>
          <dd class="details-list__value"><%= @need.name %></dd>

          <dt class="details-list__caption">Created</dt>
          <dd class="details-list__value"><%= @need.created_at&.strftime("%-d %B %Y") %></dd>
        </dl>

      </div>
      <%= render "notes" %>
    </div>
  </aside>

</div>




