<% if @contact.is_vulnerable %>
  <div class="vulnerable-banner">
    <div class="container"><%= image_tag "exclamation.svg", alt: "" %> This is a vulnerable person</div>
  </div>
<% end %>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "People in need", contacts_path %></li>
  <li>Person</li>
</ol>

<div class="tabs">
  <div class="tabs__tab"><%= link_to 'Profile' , @need.contact %></div>
  <%= link_to "#{@contact.first_name}'s Needs (#{@contact.needs.count})", contact_needs_path(@contact), class: 'tabs__tab tabs__tab--current' %>
</div>

<div class="page-header page-header--with-button">
  <h1 class="page-title"><%= @need.category.humanize %></h1>
  <%= link_to 'Edit need', edit_need_path(@need), class: 'button pull-right' %>
</div>

<div class="contact-profile">
  <div class="contact-profile__left">
    <div class="contact-profile__row">
      <strong>Assigned to</strong>
      <span>
        <% if @need.user %>
          <%= @need.user.name_or_email %>
        <% else %>
          Unassigned
        <% end %>
      </span>
    </div>
    <div class="contact-profile__row">
      <strong>Status</strong>
      <span><%= @need.status %></span>
    </div>
    <div class="contact-profile__row">
      <strong>Description</strong>
      <span><%= @need.name %></span>
    </div>
  </div>
  <div class="contact-profile__right">
    <div class="contact-profile__right__title">
      <span>Profile</span>
    </div>
    <div class="contact-profile__row">
      <strong>Address:</strong>
      <%= @contact.address %>
    </div>

    <% if @contact.telephone %>
      <div class="contact-profile__row">
        <strong>Phone:</strong>
        <%= @contact.telephone %>
      </div>
    <% end %>

    <% if @contact.mobile %>
      <div class="contact-profile__row">
        <strong>Mobile:</strong>
        <%= @contact.mobile %>
      </div>
    <% end %>

    <% if @contact.additional_info %>
      <div class="contact-profile__row">
        <strong>Additional info:</strong>
        <%= @contact.additional_info %>
      </div>
    <% end %>
  </div>
</div>

<section class="notes">
  <h2>
    Notes
    <% if @need.notes.count > 0 %>
      (<%= @need.notes.count %>)
    <% end %>
  </h2>

  <%= form_with(model: [@need, @need.notes.build], local: true) do |form| %>
    <div class="field">
      <%= form.label :body, 'Add a note', class: "field__label" %>
      <%= form.text_area :body, class: 'note-textarea' %>
    </div>
    <%= form.submit %>
  <% end %>

  <div class="notes-list">
    <% @need.notes.reverse_each do |note| %>
      <% next if note == @need.notes.last %>
      <div class="note">
        <header class="note__header">
          <strong class="note__author"><%= note.user.name_or_email %></strong>
          <span class="note__created"><%= time_ago_in_words(note.created_at) %> ago</span>
        </header>
        <p class="two-thirds"><%= note.body %></p>
      </div>
    <% end %>
  </div>


</section>
