  <%= render "shared/vulnerable-banner" %>

<div id="lead-service-panel" >
  <%= render partial: 'shared/lead_service_panel', locals: { contact: @contact, teams_options: @teams_options} %>
</div>

<div class="with-left-sidebar">

<%= render 'shared/side-contact-profile' %>

  <aside class="with-left-sidebar__right">
    <header class="panel-header" id="needs-panel">
      <h2 class="panel-header__title">Support Actions</h2>
      <% if @contact.needs.any? %>
        <span class="panel-header__badge"><%= @contact.needs.count %></span>
      <% end %>
      <% if policy(Need).create? %>
        <%= link_to "Add support actions +", contact_triage_path(@contact), class: "btn-triage" %>
      <% end %>
    </header>


    <div class="panel panel--unpadded panel--stroked need--<%= @need.category.parameterize %>">
      <%= link_to @need.category, @contact, class: "panel__header", id: "need-#{@need.id}-title" %>
    
      <% if policy(@need).edit? %>
        <%= link_to "Edit", edit_need_path(@need), class: "button button--blue", id:"edit-need-btn", remote: true %>
      <% end %>
        
      <% if policy(@need).destroy? %>
        <%= link_to 'Delete',  { action: :destroy, id: @need.id }, 
          class: "need-delete-link", id: "delete-need-#{@need.id}", method: :delete, 
          data: { confirm: @delete_prompt } %>
      <% end %>
      
      <div class="panel__body">
        <div id="need-error-container"></div>

        <%= render "need-actions" %>
        
        <div id="need-fields-container">
          <%= render "shared/need-fields" %>
        </div>


      <!-- Temporary button sort as you wish-->
      <% if @need.is_assessment? %>
            <% if policy(@need).assigned_to_me? %>  
              <%= link_to "Start assessment", edit_contact_assessment_path(contact_id: @need.contact_id, id: @need), class: "button button--primary", id:"edit-assessment-btn" %>
            <% else %>
              <a id="edit-assessment-btn", class="button button--disabled">Start assessment</a>
            <% end %>
          <br>
      <% end %>

      </div>
      <%= render "notes" %>
    </div>
  </aside>

</div>

<%= javascript_pack_tag 'require-datepicker' %>
