
    <% if @contact.is_vulnerable %>
      <div class="vulnerable-banner">
        <div class="container"><%= image_tag "exclamation.svg", alt: "" %> This is a vulnerable person</div>
      </div>
    <% end %>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <div class="tabs">
      <%= link_to "#{@contact.first_name}'s Needs (#{@contact.needs.count})", contact_needs_path(@contact), class: 'tabs__tab tabs__tab--current' %>
      <div class="tabs__tab"><%= link_to 'Profile' , @need.contact %></div>
      <div class="tabs__tab tabs__tab--edit"><%= link_to 'Edit' , edit_need_path(@need) %></div>
    </div>

    <div class="go-back"><%= link_to 'Back' , contact_needs_path(@contact) %></div>

    <table class="table">
      <thead>
      <tr>
        <td>Created on</td>
        <td>Assigned to</td>
        <td>Status</td>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td class="need__created"><%= @need.created_at.strftime("%d/%m/%Y") %></td>

          <% if @need.user %>
            <td><%= @need.user.name_or_email %></td>
          <% else %>
            <td>Unassigned</td>
          <% end %>
          <td><%= @need.status %></td>

        </tr>
      </tbody>
    </table>

    <div>Need</div>

    <div class="page-header">
      <h1 class="page-title"><%= @need.category %></h1>
    </div>



    <div class="contact-profile">
      <div class="contact-profile__left">
        <div class="contact-profile__row">
          <strong>Description</strong><span><%= @need.name %></span>
        </div>
      </div>
    </div>
    Profile info
    <hr>

    <div class="contact-profile">
      <div class="contact-profile__left">
        <div class="contact-profile__row">
          <strong>Name</strong><span><%= @contact.name %></span>
        </div>

        <div class="contact-profile__row">
          <strong>Tel.</strong><%= @contact.telephone %>
        </div>

        <div class="contact-profile__row">
          <strong>Additional Info:</strong>
          <%= @contact.additional_info %>
        </div>

      </div>
    </div>

<section class="notes">
  <h2>Notes (<%= @need.notes.count %>)</h2>

  <%= form_with(model: [@need, @need.notes.build], local: true) do |form| %>
    <div class="field">
      <%= form.label :body, 'Add a note', class: "field__label" %>
      <%= form.text_area :body, class: 'note-textarea' %>
    </div>
    <%= form.submit %>
  <% end %>

  <div class="notes-list">
    <% @need.notes.each do |note| %>
      <% next if note == @need.notes.last %>
      <div class="note">
        <header class="note__header">
          <strong class="note__author"><%= note.user.name_or_email %></strong>
          <span class="note__created"><%= time_ago_in_words(note.created_at) %> ago</span>
        </header>
        <p class="two-thirds"><%= note.body %></p>
      </div>
    <% end %>
  </div>


</section>
