<fieldset class="field-section field-section--two-cols">
  <legend><h3 class="field-section__title">Food requirements priority</h3></legend>

  <div class="radio">
    <%= need_form.radio_button "needs_list[#{need_index}][food_priority]", '1', :id => "needs_food_priority_#{need_index}_1" %>
    <label for="needs_food_priority_<%= need_index %>_1" class="radio__label">Priority 1</label>
  </div>
  <div class="radio">
    <%= need_form.radio_button "needs_list[#{need_index}][food_priority]", '2', :id => "needs_food_priority_#{need_index}_2" %>
    <label for="needs_food_priority_<%= need_index %>_2" class="radio__label">Priority 2</label>
  </div>
  <div class="radio">
    <%= need_form.radio_button "needs_list[#{need_index}][food_priority]", '3', :id => "needs_food_priority_#{need_index}_3" %>
    <label for="needs_food_priority_<%= need_index %>_3" class="radio__label">Priority 3</label>
  </div>

</fieldset>

<fieldset class="field-section field-section--two-cols">
  <legend><h3 class="field-section__title">Which type of food service?</h3></legend>

  <div class="radio">
    <%= need_form.radio_button "needs_list[#{need_index}][food_service_type]", 'Hot meal', :id => "needs_food_service_type_#{need_index}_hot_meal" %>
    <label for="needs_food_service_type_<%= need_index %>_hot_meal" class="radio__label">Hot meal</label>
  </div>
  <div class="radio">
    <%= need_form.radio_button "needs_list[#{need_index}][food_service_type]", 'Heat up', :id => "needs_food_service_type_#{need_index}_heat_up" %>
    <label for="needs_food_service_type_<%= need_index %>_heat_up" class="radio__label">Heat up</label>
  </div>
  <div class="radio">
    <%= need_form.radio_button "needs_list[#{need_index}][food_service_type]", 'Grocery delivery', :id => "needs_food_service_type_#{need_index}_grocery_delivery" %>
    <label for="needs_food_service_type_<%= need_index %>_grocery_delivery" class="radio__label">Grocery delivery</label>
  </div>

</fieldset>

<div class="field field--span-two-cols">
<legend><h3 class="field-section__title">Any dietary requirements?</h3></legend>


  <fieldset class="field-section field-section--two-cols">
    <div class="radio">
      <%= form.radio_button :any_dietary_requirements, true, :id => "any_dietary_requirements_true" %>
      <label for="any_dietary_requirements_true" class="radio__label">Yes</label>
    </div>
    <div class="radio">
      <%= form.radio_button :any_dietary_requirements, false, :id => "any_dietary_requirements_false" %>
      <label for="any_dietary_requirements_false" class="radio__label">No</label>
    </div>
  </fieldset>
  <%= form.label :dietary_details, "Dietary Details", class: "field__label" %>
  <%= form.text_area :dietary_details %>
</div>

<div class="field field--span-two-cols">
  <%= form.label :cooking_facilities, "What cooking facilities do they have?", class: "field__label" %>
  <%= form.text_area :cooking_facilities %>
</div>
