<fieldset class="field-section field-section--two-cols">
  <legend><h3 class="field-section__title">Any dietary requirements?</h3></legend>

  <div class="radio">
    <%= form.radio_button :any_dietary_requirements, true, :id => "any_dietary_requirements_true" %>
    <label for="any_dietary_requirements_true" class="radio__label">Yes</label>
  </div>
  <div class="radio">
    <%= form.radio_button :any_dietary_requirements, false, :id => "any_dietary_requirements_false" %>
    <label for="any_dietary_requirements_false" class="radio__label">No</label>
  </div>

</fieldset>

<div class="field field--span-two-cols">
  <%= form.label :dietary_details, class: "field__label" %>
  <%= form.text_area :dietary_details %>
</div>

  <div class="field field--span-two-cols">
  <%= form.label :cooking_facilities, "What cooking facilities do they have?", class: "field__label" %>
  <%= form.text_area :cooking_facilities %>
</div>
