<div id="assign-needs-to-users">
  <div class="panel bulk-actions">

    <% if policy(Need).dashboard_change_multiple? %>
      <%= check_box_tag("select-all-needs", nil, false, {class: "select-all-needs bulk-action-checkbox"}) %>

      <%= label_tag :assigned_to, 'Assign to', class: 'visually-hidden' %>
      <%= select_tag :assigned_to,
                    options_for_select([['Assigned to me','assigned-to-me'], ['Unassigned', 'Unassigned']]) + 
                    grouped_options_for_select(@assigned_to_options),
                    prompt: 'Assign to...', class: "assign__needs dropdown", id: 'assign-selected-needs', disabled: 'disabled' %>
      <%= label_tag :status_selected_needs, 'Set status', class: 'visually-hidden' %>
      <%= select_tag :status_selected_needs,
                    options_for_select(need_statuses),
                    prompt: 'Set status',
                    class: "dropdown",
                    id: 'status-selected-needs',
                    disabled: 'disabled' %>
    <% end %>             
    
    <% if policy(Need).export? %>
      <% if params[:user_id] || params[:status] || params[:category] || params[:is_urgent] %>
        <%= link_to "Export", url_for(params: request.query_parameters, :format => 'csv'), id: "btnExport", class: "button button--dark", "data-open" => "true" %>
      <% else %>
        <%= link_to "Export", url_for(params: request.query_parameters, :format => 'csv'), id: "btnExport", class: "button button--dark" %>
      <% end %>
    <% end %>


    <%= render "shared/table/filters" %>
  </div>
</div>

<%= javascript_pack_tag 'filters' %>
