<%= form_with(model: user, local: true, class: "margin-bottom-70 two-thirds") do |form| %>

  <section class="field-section">
    <div class="field">
      <%= form.label :email, "Their email address", class: "field__label" %>
      <%= form.text_field :email %>
    </div>
  </section>

  <fieldset class="field-section">
    <div class="field">
      <%= form.label :admin, "Does this user need permission to invite other users?", class: "field__label" %>
      <div class="radio">
        <%= form.radio_button :admin, false %>
        <label for="admin_false"></label>
        <p>Yes</p>
      </div>
      <div class="radio">
        <%= form.radio_button :admin, true %>
        <label for="admin_true"></label>
        <p>No</p>
      </div>
    </div>
  </fieldset>

  <div class="actions">
    <%= form.submit "Send invite" %>
  </div>
<% end %>