<% content_for :header do %>
  <%= render partial: "shared/mini-search", locals: { url: users_path, text_field_placeholder: "Search user" } %>
<% end %>

<header class="panel-header">
  <h1 class="panel-header__title">
    <% if params[:search].present? %>
      Matching Beacon users
    <% else %>
      Beacon users
    <% end %>
  </h1>
  <%= link_to "Invite a user", new_user_path, class: "panel-header__action" %>
</header>

<div class="panel">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Invited</th>
      <th>Last logged in</th>
      <th>Role</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr class="clickable" onclick="window.location='<%= edit_user_path(user) %>'">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= time_ago_in_words(user.invited).humanize %> ago</td>
        <% if user.last_logged_in %>
          <td><%= time_ago_in_words(user.last_logged_in).humanize %> ago</td>
        <% else %>
          <td> Never</td>
        <% end %>
        <td><%= user.role_names %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= render "shared/pagination", model: @users %>
</div>


