<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<div class="page-header page-header--with-button">
  <h1 class="page-title">Users</h1>
  <%= link_to 'Invite user', new_user_path, class: "button pull-right" %>
</div>

<div class="table-holder">
  <table class="table">
    <thead>
    <tr>
      <th>Email</th>
      <th>Invited</th>
      <th>Last logged in</th>
      <th>Role</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><strong><%= user.email %></strong></td>
        <td><%= time_ago_in_words(user.invited) %> ago</td>
        <% if user.last_logged_in %>
          <td><%= time_ago_in_words(user.last_logged_in) %> ago</td>
        <% else %>
          <td> Never</td>
        <% end %>
        <td><%= user.role_title %></td>
        <td><%= link_to 'Remove', user_path(user),
                        data: {:confirm => "Are you sure you want to delete this user? They won't be able to log in any more and this can't be undone."}, :method => :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @users %>
