<header class="panel-header">
  <h1 class="panel-header__title">Beacon users</h1>
  <%= link_to "Invite a user", new_user_path, class: "panel-header__action" %>
</header>

<div class="panel">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Invited</th>
      <th>Last logged in</th>
      <th>Role</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= time_ago_in_words(user.invited).humanize %> ago</td>
        <% if user.last_logged_in %>
          <td><%= time_ago_in_words(user.last_logged_in).humanize %> ago</td>
        <% else %>
          <td> Never</td>
        <% end %>
        <td><%= user.role_title %></td>
        <td><%= link_to 'Remove', user_path(user),
                        data: {:confirm => "Are you sure you want to delete this user? They won't be able to log in any more and this can't be undone."}, :method => :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= render "shared/pagination", model: @users %>
</div>


