<%= form_for(@contact,:html=>{:id=>"update_lead_service",:remote=>true}) do |form|%>
  <div class="panel-small">
        <div class="panel-buttons-right">    
          <%= link_to 'Cancel', contact_path(@contact), class: "button button--dark", id: "contact-service-panel-cancel" %>
          <%= form.button 'Save', { type: 'submit', id: 'contact-service-panel-save', class: 'button button--blue' } %>
        </div>  

        <section class="field-section-small field-section--two-cols" style="width: 50px">
            <div class="field-small">
              <img src="<%= image_path('person-icon.png') %>" height="55px">
            </div>
          
            <div class="field-small">
              <%= form.label :lead_service_id, "Lead service", class: "dropdown-label" %>
              <%= form.select :lead_service_id, grouped_options_for_select(@teams_options, @contact.lead_service_id, prompt: 'Unassigned'), {}, { class: "need-actions__select dropdown lead-service-dropdown" } %>
            </div>         

            <div class="field-small field--span-two-cols">
              <%= form.text_field :lead_service_note, placeholder: 'Add a note' %>
            </div>
        </section>    
  </div>
<% end %>

<%= javascript_pack_tag 'lead-service' %>