<section class="accordion">

    <button class="accordion__control" aria-expanded="true">
        <h2 class="accordion__title">Personal details</h2>  
    </button>
    <div class="accordion__content">  
      <dl class="details-list">
        <dt class="details-list__caption">Name</dt>
        <dd class="details-list__value" id="contact_name">
          <%= @contact.name %>
        </dd>

        <dt class="details-list__caption">Business name</dt>
        <dd class="details-list__value" id="contact_business_name">
          <%= @contact.business_name %>
        </dd>

        <dt class="details-list__caption">Date of Birth</dt>
        <dd class="details-list__value" id="contact_dob">
          <%= @contact.date_of_birth&.strftime("%-d %B %Y") %>
          <% if @contact.under_18? %>
            <span class='under-18'> (Under 18)</span>
          <% end %>
        </dd>

        <dt class="details-list__caption">Address</dt>
          <dd class="details-list__value" id="address_details">
              <%= @contact.address %><br/>
              <%= @contact.postcode %>
          </dd>

          <dt class="details-list__caption">Email</dt>
          <dd class="details-list__value" id="email_address">
            <%= dash_if_empty @contact.email %>
          </dd>

          <dt class="details-list__caption">Phone</dt>
          <dd class="details-list__value" id="phone_details">
              <%= @contact.telephone %><br/>
              <%= @contact.mobile %>
          </dd>

          <dt class="details-list__caption">NHS Number</dt>
          <dd class="details-list__value" id="nhs_number">
              <%= @contact.nhs_number %>
          </dd>

          <dt class="details-list__caption">Test & Trace Id</dt>
          <dd class="details-list__value" id="test_and_trace_account_id">
            <%= @contact.test_and_trace_account_id %>
          </dd>

          <dt class="details-list__caption">Test & Trace Creation Date</dt>
          <dd class="details-list__value" id="test_trace_creation_date">
            <%= @contact.test_trace_creation_date %>
          </dd>

          <dt class="details-list__caption">Isolation Start Date</dt>
          <dd class="details-list__value" id="isolation_start_date">
            <%= @contact.isolation_start_date %>
          </dd>
      </dl>
    </div>

    <button class="accordion__control" aria-expanded="true">
        <h2 class="accordion__title">Delivery requirements</h2>  
    </button>
    <div class="accordion__content">
        <dl class="details-list">
            <dt class="details-list__caption">Any special delivery details</dt>
            <dd class="details-list__value" id="delivery_details"><%= dash_if_empty @contact.delivery_details %></dd>
        </dl>
    </div>

    <button class="accordion__control" aria-expanded="true" id="contact-additional-info-accordion">
        <h2 class="accordion__title">Additional information</h2>  
    </button>
    <div class="accordion__content">
        <dl class="details-list">
            <dt class="details-list__caption">Dietary requirements</dt>
            <dd class="details-list__value" id="any_dietary_requirements">
                <%= friendly_boolean @contact.any_dietary_requirements %>
            </dd>
          <dd class="details-list__value" id="dietary_details">
            <%= dash_if_empty @contact.dietary_details %>
          </dd>

            <dt class="details-list__caption">Cooking facilities</dt>
            <dd class="details-list__value"><%= dash_if_empty @contact.cooking_facilities %></dd>

            <dt class="details-list__caption">Eligible for free prescriptions</dt>
            <dd class="details-list__value" id="eligible_for_free_prescriptions">
              <%= friendly_boolean @contact.eligible_for_free_prescriptions %>
            </dd>

          <% if policy(@contact).see_sensitive_info? %>
            <dt class="details-list__caption">Any additional information</dt>
            <dd class="details-list__value" id="additional_info"><%= dash_if_empty @contact.additional_info %></dd>
          <% end %>


            <dt class="details-list__caption">Anyone in their home showing symptoms of COVID-19</dt>
            <dd class="details-list__value" id="contact-has-covid"><%= friendly_boolean @contact.has_covid_symptoms %></dd>
        </dl>
    </div>

  <button class="accordion__control" aria-expanded="true" id="contact-additional-info-accordion">
    <h2 class="accordion__title">Consents</h2>
  </button>
  <div class="accordion__content">
    <dl class="details-list">
      <dt class="details-list__caption">Do not call</dt>
      <dd class="details-list__value" id="no_calls_flag">
        <%= friendly_boolean @contact.no_calls_flag %>
      </dd>

      <dt class="details-list__caption">Deceased</dt>
      <dd class="details-list__value">
        <%= friendly_boolean @contact.deceased_flag %>
      </dd>

      <dt class="details-list__caption">Consent to share (NB most sharing not need consent)</dt>
      <dd class="details-list__value" id="share_data_flag">
      <%= friendly_boolean @contact.share_data_flag %>
      </dd>
    </dl>

  </div>
  
  <button class="accordion__control" aria-expanded="true">
      <h2 class="accordion__title">Household</h2>  
  </button>
  <div class="accordion__content">
      <dl class="details-list">
          <dt class="details-list__caption">Number of people living there</dt>
          <dd class="details-list__value" id="count_people_in_house"><%= dash_if_empty @contact.count_people_in_house %></dd>

          <dt class="details-list__caption">Living with people under 18</dt>
          <dd class="details-list__value" id="any_children_under_age"><%= friendly_boolean @contact.any_children_under_age %></dd>
      </dl>
      
      <br/>    
      <a href="" class="contact-back-top-link" onclick="window.scrollTo(0, 0)">Back to top</a>
  </div>
  
</section>

<%= javascript_pack_tag 'accordion', 'data-turbolinks-track': 'reload' %>