<%= form_for(@contact,:html=>{:id=>"update",:remote=>true}) do |form|%>

<section class="accordion">

  <button type="button" type="button" type="button" class="accordion__control" aria-expanded="true">
    <h2 class="accordion__title">Personal details</h2>
  </button>
  <div class="accordion__content">
    <%= form.hidden_field :lock_version, :value => @contact.lock_version %>
    <div class="field">
      <%= form.label :first_name, class: "field__label" %>
      <%= form.text_field :first_name, id: "contact_first_name" %>
    </div>
    <div class="field">
      <%= form.label :middle_names, class: "field__label" %>
      <%= form.text_field :middle_names %>
    </div>
    <div class="field">
      <%= form.label :surname, class: "field__label" %>
      <%= form.text_field :surname %>
    </div>

    <div class="field">
      <%= form.label :business_name, 'Business name (Optional)', class: "field__label" %>
      <%= form.text_field :business_name %>
    </div>

    <div class="field">
      <%= form.label :date_of_birth, class: "field__label" %>
      <%= form.text_field :date_of_birth, :value => "#{@contact.date_of_birth&.strftime('%-d/%-m/%Y')}" %>
    </div>

    <div class="field field--span-two-cols">
      <%= form.label :address, class: "field__label" %>
      <%= form.text_area :address %>
    </div>

    <div class="field">
      <%= form.label :postcode, class: "field__label" %>
      <%= form.text_field :postcode %>
    </div>

    <div class="field">
      <%= form.label :email, class: "field__label" %>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <%= form.label :telephone, "Landline", class: "field__label" %>
      <%= form.text_field :telephone %>
    </div>
    <div class="field">
      <%= form.label :mobile, class: "field__label" %>
      <%= form.text_field :mobile %>
    </div>

    <div class="field">
      <%= form.label :nhs_number, class: "field__label" %>
      <%= form.text_field :nhs_number %>
    </div>

    <div class="field">
      <%= form.label :test_and_trace_account_id, "Test & Trace Id", class: "field__label" %>
      <%= form.text_field :test_and_trace_account_id %>
    </div>

    <div class="field">
      <%= form.label :test_trace_creation_date, 'Test & Trace Creation Date', class: "field__label" %>
      <%= form.text_field :test_trace_creation_date, placeholder: 'Eg: 17/12/2020', :value => "#{@contact.test_trace_creation_date&.strftime('%-d/%-m/%Y')}" %>
    </div>

    <div class="field">
      <%= form.label :isolation_start_date, 'Isolation Start Date', class: "field__label" %>
      <%= form.text_field :isolation_start_date, placeholder: 'Eg: 17/12/2020', :value => "#{@contact.isolation_start_date&.strftime('%-d/%-m/%Y')}" %>
    </div>
  </div>

  <button type="button" type="button" type="button" class="accordion__control" aria-expanded="true">
    <h2 class="accordion__title">Delivery requirements</h2>
  </button>
  <div class="accordion__content">
    <dl class="details-list">
      <div class="field field--span-two-cols">
        <%= form.label :delivery_details, 'Any special delivery details?', class: "field__label" %>
        <%= form.text_area :delivery_details %>
      </div>
    </dl>
  </div>

  <button type="button" type="button" type="button" class="accordion__control" aria-expanded="true" id="contact-additional-info-accordion">
    <h2 class="accordion__title">Additional information</h2>
  </button>
  <div class="accordion__content">
     <fieldset class="field-section field-section--two-cols">
      <div class="field field--span-two-cols">
        <%= form.label :additional_info, class: "field__label" %>
        <%= form.text_area :additional_info %>
      </div>

      <div class="checkbox">
        <%= form.check_box :has_covid_symptoms, class: 'checkbox__input', checked: @contact.has_covid_symptoms %>
        <%= form.label :has_covid_symptoms, 'Showing any symptoms of COVID-19?', class: 'checkbox__label' %>
      </div>

      <br/>

      <div class="checkbox">
        <%= form.check_box :is_vulnerable, class: 'checkbox__input', checked: @contact.is_vulnerable %>
        <%= form.label :is_vulnerable, 'Is this person Shielded?', class: 'checkbox__label' %>
      </div>

      <details class="field-section__hint details">
        <summary class="details__summary">What does shielded mean?</summary>
        <p>Someone is shielded if they are:</p>
        <ul>
          <li>Over 70 years old</li>
          <li>Under 70 years old and has an underlying health condition (i.e. normally asked by the NHS to get a flu jab)</li>
          <li>Pregnant</li>
        </ul>
      </details>
      
    </fieldset>


    
  </div>

  <button type="button" type="button" type="button" class="accordion__control" aria-expanded="true" id="contact-additional-info-accordion">
    <h2 class="accordion__title">Consents</h2>
  </button>
  <div class="accordion__content">
    <dl class="details-list">

      <dd class="details-list__value" id="no_calls_flag">
        <div class="checkbox">
          <%= form.check_box :no_calls_flag, class: 'checkbox__input' %>
          <%= form.label :no_calls_flag, 'Do not call', class: 'checkbox__label' %>
        </div>
      </dd>

      <dd class="details-list__value">
        <div class="checkbox">
          <%= form.check_box :deceased_flag, class: 'checkbox__input' %>
          <%= form.label :deceased_flag, 'Deceased', class: 'checkbox__label' %>
        </div>
      </dd>

      <dd class="details-list__value">
        <div class="checkbox">
          <%= form.check_box :share_data_flag, class: 'checkbox__input' %>
          <%= form.label :share_data_flag, 'Consent to share (NB most sharing not need consent)', class: 'checkbox__label' %>
        </div>
      </dd>

    </dl>

  </div>
  
  <button type="button" type="button" type="button" type="button" class="accordion__control" aria-expanded="true">
    <h2 class="accordion__title">Household</h2>
  </button>
  <div class="accordion__content">
    <dl class="details-list">
      <div class="field field count-people-in-house-field">
        <%= form.label :count_people_in_house, 'How many people in total live there?', class: "field__label" %>
        <%= form.number_field :count_people_in_house %>
      </div>
    </dl>

    <div class="checkbox">
      <%= form.check_box :any_children_under_age, class: 'checkbox__input', checked: @contact.any_children_under_age %>
      <%= form.label :any_children_under_age, 'Any children under 18?', class: 'checkbox__label' %>
    </div>
  </div>
  <div class="accordion-buttons-right">    
    <%= link_to 'Cancel', contact_path(@contact), class: "button button--dark", id: "contact-edit-cancel", remote: true %>
    <%= form.button 'Save changes', { type: 'submit', id: 'contact-edit-save', class: 'button button--blue' } %>
  </div>  

</section>
<% end %>

<script>  
console.log("started");

  document.contactSubscription(<%= @contact.id %>);
</scrip>