<nav class="nav">

    <%= link_to image_tag(logo_path, alt: "Beacon", class: "nav__logo"), 
        root_path, 
        class: "nav__logo-link" 
    %>

    <ul class="main-menu">
        <li class="main-menu__item">
            <%= link_to_unless_current "Needs", root_path, class: "main-menu__link" do %>
                <span class="main-menu__current">Needs</span>
            <% end %>

            <ul class="main-menu__submenu">
                <li class="main-menu__submenu-item">
                    <%= link_to "My to-do list", root_path, class: "main-menu__submenu-link" %>
                </li>
                <li class="main-menu__submenu-item">
                    <%= link_to "Unmet needs", root_path, class: "main-menu__submenu-link" %>
                </li>
            </ul>


        </li>
        <li class="main-menu__item">
            <%= link_to_unless_current "People", contacts_path, class: "main-menu__link" do %>
                <span class="main-menu__current">People</span>
            <% end %>
        </li>

        <% if current_user.admin %>
            <li class="main-menu__item">
                <%= link_to_unless_current "Users", users_path, class: "main-menu__link" do %>
                    <span class="main-menu__current">Users</span>
                <% end %>
            </li>
        <% end %>
    </ul>

</nav>