<nav class="nav">

    <%= link_to image_tag(logo_path, alt: "Beacon", class: "nav__logo"), 
        root_path, 
        class: "nav__logo-link" 
    %>

    <ul class="main-menu">
        <li class="main-menu__item">
            <%= link_to_unless_current "Needs", root_path, class: "main-menu__link" do %>
              <% if params[:user_id] == current_user.id.to_s || params[:status].eql?("to do") %>
                <%= link_to "Needs", root_path, { class: "main-menu__current", style: "text-decoration: none" } %>
              <% else %>
                <span class="main-menu__current">Needs</span>
              <% end %>
            <% end %>

            <ul class="main-menu__submenu">
                <li class="main-menu__submenu-item">
                  <% if current_page?(root_path) && params[:user_id] == current_user.id.to_s %>
                    <span class="main-menu__submenu-current">Assigned to me</span>
                  <% else %>
                    <%= link_to "Assigned to me", root_path(:user_id => current_user.id), { class: "main-menu__submenu-link" } %>
                  <% end %>
                </li>
                <li class="main-menu__submenu-item">
                    <% if current_page?(root_path) && params[:status].eql?("to do") %>
                      <span class="main-menu__submenu-current">Unmet needs</span>
                    <% else %>
                      <%= link_to "Unmet needs", root_path(:status => "to do"), { class: "main-menu__submenu-link" } %>
                    <% end %>
                </li>
            </ul>


        </li>
        <li class="main-menu__item">
            <%= link_to_unless_current "People", contacts_path, class: "main-menu__link" do %>
                <span class="main-menu__current">People</span>
            <% end %>
        </li>

      <% if policy(User).index? %>
        <li class="main-menu__item">
          <%= link_to_unless_current "Users", users_path, class: "main-menu__link" do %>
            <span class="main-menu__current">Users</span>
          <% end %>
        </li>
      <% end %>

      <!-- Draft Triage in progress -->
      <% if session[:triage] %>
      <li class="main-menu__item">
        <%= link_to "Draft Triage (1)", contact_triage_path(session[:triage][:contact_id]), class: "main-menu__link main-menu__draft" %>
      </li>
    <% end %>
    </ul>

    <div class="nav-bottom">
      <span class="current-user"><%= current_user.email %></span>
      <%= link_to 'Sign out', auth.sign_out_path, class: "button button--small", id: "sign-out-link"%>
    </div>
</nav>