<table class="table tasks-table">
  <tfoot>
  <tr>
    <th>
      <%= select_tag("search_user", options_from_collection_for_select(@users, :id, :name_or_email, :selected => get_param_capitalized('search_user')), prompt: 'Select a user')  %>
    </th>
    <th>
    <th>
      <%= select_tag("search_status", options_for_select(task_statuses,  :selected => get_param_capitalized('search_status')), prompt: 'Select a status') %>
    </th>
    <th>
      <%= select_tag("search_category", options_for_select(task_categories, :selected => get_param_capitalized('search_category')), prompt: 'Select a category')  %>
    </th>
    <th>
      <input type="submit" id="submit-filters" style="display: none">
    </th>
  </tr>
  </tfoot>
</table>

<br/>

<table class="table data-table">
  <thead>
  <tr>
    <th>Assigned to</th>
    <th>Person</th>
    <th>Need</th>
    <th>Status</th>
    <th>Vulnerable</th>
    <th>Category</th>
    <th>Date logged</th>
  </tr>
  </thead>
  <tbody>
  <% tasks.each do |task| %>
    <tr>
      <% if task.user %>
        <td><%= task.user_name %></td>
      <% else %>
        <td>Unassigned</td>
      <% end %>
      <td><%= link_to(task.contact_name, contact_path(task.contact.id)) %></td>
      <td><strong><%= link_to task.name, task %></strong></td>
      <td><%= status(task.completed_on) %></td>
      <td>
        <% if task.contact_is_vulnerable %>
          <%= image_tag "red-tick.svg", alt: "vulnerable" %>
        <% else %>
          —
        <% end %>
      </td>
      <td><%= task.category %>
      <td><%= format_datetime(task.created_at) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= javascript_pack_tag 'datatables' %>
