<div class="table-holder">
  <table class="table">
    <thead>
    <tr>
      <th>Assigned to</th>
      <th>Name</th>
      <th>Need type</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Category</th>
      <th>Date logged</th>
    </tr>
    </thead>
    <tbody>
    <% tasks.each do |task| %>
      <tr>
        <% if task.user %>
          <td><%= task.user_name %></td>
        <% else %>
          <td>Unassigned</td>
        <% end %>
        <td><%= link_to(task.contact_name, contact_path(task.contact.id)) %></td>
        <td><%= task.name %></td>
        <td><%= status(task.completed_on) %></td>
        <td><%= task.contact_priority %></td>
        <td><%= task.category %>
        <td><%= format_datetime(task.created_at) %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <th>
        <%= select_tag("search_user", options_from_collection_for_select(@users, :id, :name_or_email), prompt: 'Select a user')  %>
      </th>
      <th>
        <input id="search_name" type="text"/>
      </th>
      <th></th>
      <th>
        <%= select_tag("search_status", options_for_select(['Select a status', 'To do', 'Completed'], 'Select a status')) %>
      </th>
      <th>
        <%= select_tag("search_priority", options_for_select(['Select a priority', 'High', 'Medium', 'Low'], 'Select a priority'))  %>
      </th>
      <th>
        <%= select_tag("search_category", options_for_select(['Select a category', 'Food', 'Medicine'], 'Select a category'))  %>
      </th>
      <th></th>
    </tr>
    </tfoot>
  </table>
</div>
