<header class="panel-header">
  <h1 class="panel-header__title">
    Imported Items
  </h1>
  
  <% if policy(ImportedItem).create? %>
    <%= link_to "Add a import", new_imported_item_path, class: "panel-header__action" %>
  <% end %>
</header>

<div class="panel">
  <% if @imported_items.any? %>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Imported</th>
        <th>Rejected</th>
        <th>
          <div class="sortable">
            Created
            <div class="sortable__controls">
              <%= link_to_unless_current image_tag("sort-asc.svg", alt: "sort ascending"), @params.merge(order: 'created_at', order_dir: 'ASC') do %><%= image_tag "sort-asc-grey.svg", alt: "sorted ascending" %><% end %>
              <%= link_to_unless_current image_tag("sort-desc.svg", alt: "sort descending"), @params.merge(order: 'created_at', order_dir: 'DESC') do %><%= image_tag "sort-desc-grey.svg", alt: "sorted descending" %><% end %>
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
        <% @imported_items.each do |imported_item| %>
          <tr class="clickable" data-target="<%= imported_item_contacts_path(imported_item) %>">
            <td><%= link_to imported_item.name, imported_item, class: "primary-link" %></td>
            <td><%= imported_item.imported.nil? ? '-' : imported_item.imported %></td>
            <td><%= imported_item.rejected.nil? ? '-' : imported_item.rejected %></td>
            <td><%= imported_item.created_at.strftime("%-d %B %Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render "shared/pagination", model: @imported_items %>
  <% else %>
    <p class="no-results">No items</p>
  <% end %>
</div>
