<% if policy(ImportedItem).create? %>
    <section class="bg-white u-p u-pt++ u-mb">
        <% if @created_item %>
            <h2>
                <div class="bg-green b-circle c-icon c-icon--medium u-mr-">
                    <i class="bg-white c-icon c-icon--tick"></i>
                </div>
                File import complete
            </h2>

            <p class="u-mb--"><%= @created_item.imported %> were imported into Beacon</p>
            <p><%= @created_item.rejected %> duplicates found and have not been imported</p>

            <%= render 'form', :locals => { :button_label => 'Import another file' } %>
        <% else %>
            <% if @imported_item.errors.any? %>
                <h2>
                    <div class="bg-red b-circle c-icon c-icon--medium u-mr-">
                        <i class="bg-white c-icon c-icon--tiny c-icon--cross"></i>
                    </div>
                    File import failed
                </h2>
                <ul>
                    <% @imported_item.errors.full_messages.each do |error| %>
                        <li class="c-red"><%= error %></li>
                    <% end %>
                </ul>
            <% else %>
                <h2 class="u-mb++">Choose a file</h2>
            <% end %>

            <%= render 'form' %>
        <% end %>
    </section>
<% end %>

<section class="bg-white u-p u-pt++ u-mb">
    <h2 class="u-mb++">Recently Imported</h2>

    <% if @imported_items.any? %>
      <div class="o-layout o-layout--flush u-mb">
        <div class="o-layout__item u-4-of-12">
            <div class="u-pb-">
                <%= link_to @params.merge(order: 'name', order_dir: sort_direction('name')), class: 'c-black t-dec-none' do %>
                    Name
                    <i class="c-icon <%= sort_icon('name') %>"></i>
                <% end %>
            </div>
        </div>
        <div class="o-layout__item u-2-of-12">
            <div class="u-pb-">
                <%= link_to @params.merge(order: 'created_at', order_dir: sort_direction('created_at')), class: 'c-black t-dec-none' do %>
                    Created
                    <i class="c-icon <%= sort_icon('created_at') %>"></i>
                <% end %>
            </div>
        </div>
        <div class="o-layout__item u-1-of-12">
            <div class="u-pb-">
                Imported
            </div>
        </div>
        <div class="o-layout__item u-1-of-12">
            <div class="u-pb-">
                Failed
            </div>
        </div>
        <div class="o-layout__item u-4-of-12">
            <div class="u-pb-">
                Imported by
            </div>
        </div>

        <% @imported_items.each do |imported_item| %>
            <div class="o-layout__item u-4-of-12" data-target="<%= imported_item_contacts_path(imported_item) %>" >
                <div class="b-sm__t b-gray u-pb- u-pt-">
                    <i class="c-icon c-icon--import bg-green"></i>
                    <%= imported_item.name %>
                </div>
            </div>
            <div class="o-layout__item u-2-of-12">
                <div class="b-sm__t b-gray u-pb- u-pt-">
                    <%= imported_item.created_at.strftime("%-d %B %Y") %>
                </div>
            </div>
            <div class="o-layout__item u-1-of-12">
                <div class="b-sm__t b-gray u-pb- u-pt-">
                    <%= imported_item.imported %>
                </div>
            </div>
            <div class="o-layout__item u-1-of-12">
                <div class="b-sm__t b-gray u-pb- u-pt-">
                    <%= imported_item.rejected %>
                </div>
            </div>
            <div class="o-layout__item u-4-of-12" data-target="<%= imported_item_contacts_path(imported_item) %>" >
                <div class="b-sm__t b-gray u-pb- u-pt- l-space-between">
                    <%= imported_item.user.try(:name) %>
                    <i class="c-icon c-icon--chevron-right bg-black"></i>
                </div>
            </div>
        <% end %>
      </div>

      <%= render "shared/pagination", model: @imported_items %>
    <% else %>
      <p class="no-results">No items</p>
    <% end %>
</section>
