<div class="panel">
  <%= form_tag imported_items_path, multipart: true do %>
    <div class="field">
      <%= label_tag :imported_item, 'Import name' %>
      <%= text_field_tag :imported_item_name %>
    </div>
    
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>