<tr onclick="window.location='<%= need_path(n) %>'" class="need--<%= n.category.parameterize %> need--status_<%= n.status %>">
  <td>
    <%= link_to n.category, n %>
  </td>
  <td>
    <% if n.is_urgent %>
      <span class="urgent-tag">Urgent</span>
    <% else %>
      —
    <% end %>
  </td>
  <td><%= n.assigned %></td>
  <% if @browser.ie? %>
  <td class="last-column ie">
  <% else %>
  <td class="last-column">
  <% end %>
    <%= n.start_on&.strftime("%-d %B %Y") %>

    <%# is this a 'future' need %>
    <% if !n.start_on.nil? && n.start_on > DateTime.now %>
      <span>(Future)</span>
    <% end %>
  </td>
  <%= render partial: "additional-column", locals: { description: n.name } %>
</tr>