<table class="needs-table completed">
  <thead class="visually-hidden">
    <tr>
      <th>Type</th>
      <th>Priority</th>
      <th>Assigned</th>
      <th>Due date</th>
    </tr>
  </thead>
  <tbody>
    <% @completed_needs.each do |n| %>
        <tr onclick="window.location='<%= need_path(n) %>'" class="need--<%= n.category.parameterize %> completed-need">
        <td>
          <%= link_to n.category, n %>
        </td>
        <td>
          <% if n.is_urgent %>
            <span class="urgent-tag">Urgent</span>
          <% else %>
            —
          <% end %>
        </td>
        <td><%= n.assigned %></td>
        <% if @browser.ie? %>
        <td class="last-column ie">
        <% else %>
        <td class="last-column">
        <% end %>
          <%= n.created_at&.strftime("%-d %B %Y") %>
        </td>
        <%= render partial: "additional-column", locals: { description: n.name} %>
        </tr>
    <% end %>
  </tbody>
</table>