<fieldset class="field-section field-section--two-cols">
  <legend><h2 class="field-section__title">Additional information about their household</h2></legend>

  <div class="field field count-people-in-house-field">
    <%= form.label :count_people_in_house, 'How many people in total live there?', class: "field__label" %>
    <%= form.number_field :count_people_in_house %>
  </div>

  <div class="field field--span-two-cols">
    <%= form.label :delivery_details, 'Any special delivery details?', class: "field__label" %>
    <%= form.text_area :delivery_details %>
  </div>
</fieldset>

<fieldset class="field-section field-section--two-cols">
  <legend><h2 class="field-section__title">Any children under 15?</h2></legend>
  <div class="radio">
    <%= form.radio_button :any_children_below_15, true, :id => "any_children_below_15_true" %>
    <label for="any_children_below_15_true" class="radio__label">Yes</label>
  </div>
  <div class="radio">
    <%= form.radio_button :any_children_below_15, false, :id => "any_children_below_15_false" %>
    <label for="any_children_below_15_false" class="radio__label">No</label>
  </div>
</fieldset>

<fieldset class="field-section field-section--two-cols">
  <legend><h2 class="field-section__title">Are you or anyone in your home showing any symptoms of COVID-19?</h2></legend>
  <div class="radio">
    <%= form.radio_button :has_covid_symptoms, true, :id => "has_covid_symptoms_true" %>
    <label for="has_covid_symptoms_true" class="radio__label">Yes</label>
  </div>
  <div class="radio">
    <%= form.radio_button :has_covid_symptoms, false, :id => "has_covid_symptoms_false" %>
    <label for="has_covid_symptoms_false" class="radio__label">No</label>
  </div>
</fieldset>