<% if contact.errors.any? %>
  <div class="error" id="error_explanation">
    <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

    <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<fieldset class="field-section field-section--two-cols">
  <div class="field">
    <%= form.label :first_name, class: "field__label" %>
    <%= form.text_field :first_name %>
  </div>
  <div class="field">
    <%= form.label :middle_names, class: "field__label" %>
    <%= form.text_field :middle_names %>
  </div>
  <div class="field">
    <%= form.label :surname, class: "field__label" %>
    <%= form.text_field :surname %>
  </div>
</fieldset>

<fieldset class="field-section field-section--two-cols">
  <legend><h2 class="field-section__title">Where do they live?</h2></legend>

  <div class="field field--span-two-cols">
    <%= form.label :address, class: "field__label" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :postcode, class: "field__label" %>
    <%= form.text_field :postcode %>
  </div>
</fieldset>

<fieldset class="field-section field-section--two-cols">
  <legend><h2 class="field-section__title">Additional information about their household</h2></legend>

  <div class="field field--span-two-cols">
    <%= form.label 'How many people in total live there?', class: "field__label" %>
    <%= form.number_field :count_people_in_house %>
  </div>

  <div class="field field--span-two-cols">
    <%= form.label 'Any special delivery details?', class: "field__label" %>
    <%= form.text_area :delivery_details %>
  </div>

  <legend><h2 class="field-section__title">Any children under 15?</h2></legend>
  <div class="radio">
    <%= form.radio_button :any_children_below_15, true, :id => "any_children_below_15_true" %>
    <label for="any_children_below_15_true" class="radio__label">Yes</label>
  </div>
  <div class="radio">
    <%= form.radio_button :any_children_below_15, false, :id => "any_children_below_15_false" %>
    <label for="any_children_below_15_false" class="radio__label">No</label>
  </div>

</fieldset>

<fieldset class="field-section field-section--two-cols">
  <legend><h2 class="field-section__title">How can we reach them?</h2></legend>
  <div class="flex">
    <div class="field">
      <%= form.label :email, class: "field__label" %>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <%= form.label :telephone, "Landline", class: "field__label" %>
      <%= form.text_field :telephone %>
    </div>
  </div>
  <div class="field">
    <%= form.label :mobile, class: "field__label" %>
    <%= form.text_field :mobile %>
  </div>
</fieldset>
</section>


<fieldset class="field-section field-section--two-cols">
  <legend><h2 class="field-section__title">Any dietary requirements?</h2></legend>

  <div class="radio">
    <%= form.radio_button :any_dietary_requirements, true, :id => "any_dietary_requirements_true" %>
    <label for="any_dietary_requirements_true" class="radio__label">Yes</label>
  </div>
  <div class="radio">
    <%= form.radio_button :any_dietary_requirements, false, :id => "any_dietary_requirements_false" %>
    <label for="any_dietary_requirements_false" class="radio__label">No</label>
  </div>

  <div class="field field--span-two-cols">
    <%= form.label :dietary_details, class: "field__label" %>
    <%= form.text_area :dietary_details %>
  </div>

  <legend><h2 class="field-section__title">What cooking facilities do they have?</h2></legend>
  <div class="field field--span-two-cols">
    <%= form.text_area :cooking_facilities %>
  </div>

</fieldset>

<fieldset class="field-section field-section--two-cols">
  <legend><h2 class="field-section__title">What should we know about them?</h2></legend>

  <div class="field field--span-two-cols">
    <%= form.label :additional_info, class: "field__label" %>
    <%= form.text_area :additional_info %>
  </div>

  <legend><h2 class="field-section__title">Are they eligible for free prescriptions?</h2></legend>
  <div class="radio">
    <%= form.radio_button :eligible_for_free_prescriptions, true, :id => "eligible_for_free_prescriptions_true" %>
    <label for="eligible_for_free_prescriptions_true" class="radio__label">Yes</label>
  </div>
  <div class="radio">
    <%= form.radio_button :eligible_for_free_prescriptions, false, :id => "eligible_for_free_prescriptions_false" %>
    <label for="eligible_for_free_prescriptions_false" class="radio__label">No</label>
  </div>

</fieldset>

<fieldset class="field-section">
  <legend><h2 class="field-section__title">Is this person particularly vulnerable or high priority?</h2></legend>

  <div class="notice">
    <p>By <strong>vulnerable</strong> we mean:</p>
    <ul>
      <li>Over 70 years old</li>
      <li>Under 70 years old and has an underlying health condition (i.e. normally asked by the NHS to get a flu jab)</li>
      <li>Pregnant</li>
    </ul>
  </div>

  <div class="radio">
    <%= form.radio_button :is_vulnerable, true, :id => "is_vulnerable_true" %>
    <label for="is_vulnerable_true" class="radio__label">Yes</label>
  </div>
  <div class="radio">
    <%= form.radio_button :is_vulnerable, false, :id => "is_vulnerable_false" %>
    <label for="is_vulnerable_false" class="radio__label">No</label>
  </div>

</fieldset>