<div class="two-thirds">

  <%= form_with(model: contact, local: true) do |form| %>
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
          <% contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <section class="field-section">
      <fieldset class="field-section margin-bottom-70">
        <div class="flex">
          <div class="field">
            <%= form.label :first_name, class: "field__label" %>
            <%= form.text_field :first_name %>
          </div>
          <div class="field">
            <%= form.label :middle_names, class: "field__label" %>
            <%= form.text_field :middle_names %>
          </div>
        </div>
        <div class="field field-half-width">
          <%= form.label :surname, class: "field__label" %>
          <%= form.text_field :surname %>
        </div>
      </fieldset>

      <fieldset class="field-section">
        <legend><h2 class="field-section__title">Where do they live?</h2></legend>

        <div class="field">
          <%= form.label :address, class: "field__label" %>
          <%= form.text_field :address %>
        </div>

        <div class="field field-half-width">
          <%= form.label :postcode, class: "field__label" %>
          <%= form.text_field :postcode %>
        </div>
      </fieldset>

      <fieldset class="field-section">
        <legend><h2 class="field-section__title">How can we reach them?</h2></legend>
        <div class="flex">
          <div class="field">
            <%= form.label :email, class: "field__label" %>
            <%= form.text_field :email %>
          </div>

          <div class="field">
            <%= form.label :telephone, "Landline", class: "field__label" %>
            <%= form.text_field :telephone %>
          </div>
        </div>
        <div class="field field-half-width">
          <%= form.label :mobile, class: "field__label" %>
          <%= form.text_field :mobile %>
        </div>
      </fieldset>
    </section>

    <div class="actions">
      <%= form.submit "Next" %>
    </div>
  <% end %>
</div>