      <% if @open_needs.any? %>
        <table class="needs-table">
          <thead>
            <tr>
              <th>Type</th>
              <th>Priority</th>
              <th>Assigned</th>
              <th>Created</th>
              <th>Starts on</th>
            </tr>
          </thead>
          <tbody>
            <% @open_needs.each do |n| %>
              <tr data-target="<%= need_path(n) %>" class="need--<%= n.category.parameterize %>">
                <td>
                  <%= link_to n.category, n %>
                </td>
                <td>
                  <% if n.is_urgent %>
                    <span class="urgent-tag">Urgent</span>
                  <% else %>
                    —
                  <% end %>
                </td>
                <td><%= n.assigned %></td>
                <td><%= n.created_at&.strftime("%-d %B %Y") %></td>
                <% if @browser.ie? %>
                <td class="last-column ie">
                <% else %>
                <td class="last-column">
                <% end %>
                  <%= n.start_on&.strftime("%-d %B %Y") %>

                  <%# is this a 'future' need %>
                  <% if !n.start_on.nil? && n.start_on > DateTime.now %>
                     <span>(Future)</span>
                  <% end %>
                </td>
                <%= render partial: "additional-column", locals: { description: n.name } %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="no-results">No open needs recorded for this person</p>
      <% end %>
