<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<div class="table-title-section">
  <h1 class="page-title">People in need</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Assigned</th>
      <th>Name</th>
      <th>Tasks</th>
      <th>Priority</th>
      <th>Data logged</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <td></td>
      <td><strong><%= link_to contact.name, contact %></strong></td>
      <td>
        <%= contact.tasks_count %>
        <small>(<%= contact.completed_tasks_count %> completed)</small>
      </td>
      <td>
        <span class="tag"><%= contact.priority %></span>
      </td>
      <td><%= contact.created_at.strftime("%-d %B %Y %k:%M%P") %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    </tr>
  <% end%>
  </tbody>
</table>
