<p id="notice"><%= notice %></p>

<h1 class="page-title">People in need</h1>

<%= link_to 'Add a new person', new_contact_path, class: "button" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>Food</th>
      <th>Finances</th>
      <th>Pets</th>
      <th>Prescriptions</th>
      <th>Social</th>
      <th>Wellbeing</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.address %></td>
        <td><%= contact.postcode %></td>
        <td><%= contact.food %></td>
        <td><%= contact.finances %></td>
        <td><%= contact.pets %></td>
        <td><%= contact.prescriptions %></td>
        <td><%= contact.social %></td>
        <td><%= contact.wellbeing %></td>
        <td><%= contact.other %></td>
      </tr>
    <% end %>
  </tbody>
</table>
