<% content_for :header do %>
  <% unless @params[:imported_item_id].present? %>
    <%= render partial: "shared/mini-search", locals: { url: search_contacts_path, text_field_placeholder: "Search people" } %>
  <% end %>
<% end %>

<header class="panel-header">
  <h1 class="panel-header__title">
    <% if params[:search].present? %>
      Matching people
    <% else %>
      People in need
    <% end %>
  </h1>
  <% if policy(Contact).create? && @params[:imported_item_id].blank? %>
    <%= link_to "Add a person", new_contact_path, class: "panel-header__action" %>
  <% end %>
</header>


<section class="bg-white u-p u-pt++ u-mb">
    <% if @imported_item %>
      <%= render 'contacts/imported_item_header' %>
    <% end %>

    <% if @contacts.any? %>
      <% if @imported_item %>
        <%= render 'contacts/imported_item_contacts' %>
      <% else %>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Postcode</th>
            <th>Test & Trace ID</th>
            <th>Date of Birth</th>
            <th>Lead Service</th>
          </tr>
          </thead>
          <tbody>
          <% @contacts.each do |contact| %>
            <tr class="clickable" data-target="<%= contact_path(contact) %>">
              <td><%= link_to contact.name, contact, class: "primary-link" %></td>
              <td><%= contact.address %></td>
              <td><%= contact.postcode %></td>
              <td><%= contact.test_and_trace_account_id %></td>
              <td><%= contact.date_of_birth %></td>
              <td><%= name_for_lead_service contact.lead_service_id %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
      <%= render "shared/pagination", model: @contacts %>
   <% else %>
     <p class="no-results">No matches</p>
   <% end %>
</section>
