<% content_for :header do %>
  <%= render "shared/mini-search" %>
<% end %>

<header class="panel-header">
  <h1 class="panel-header__title">
    <% if params[:search].present? %>
      Matching people
    <% else %>
      People in need
    <% end %>
  </h1>
</header>

<div class="panel">
  <% if @contacts.any? %>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Support Actions</th>
        <th>Vulnerable</th>
        <th>Year of Birth</th>
        <th>NHS Number</th>
        <th>Postcode</th>
      </tr>
      </thead>
      <tbody>
      <% @contacts.each do |contact| %>
        <tr class="clickable" onclick="window.location='<%= contact_path(contact) %>'">
          <td><%= link_to contact.name, contact, class: "primary-link" %></td>
          <td>
            <%= contact.telephone || contact.mobile %>
          </td>
          <td>
            <% if contact.needs_count > 0 %>
              <%= pluralize(contact.uncompleted_needs_count, 'need') %>
              <% if contact.completed_needs_count > 0 %>
                <small>(<%= contact.completed_needs_count %> completed)</small>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if contact.is_vulnerable? %>
              <%= image_tag "red-tick.svg", alt: "vulnerable" %>
            <% else %>
              —
            <% end %>
          </td>
          <td><%= contact.date_of_birth&.strftime("%Y") %></td>
          <td><%= contact.nhs_number %></td>
          <td><%= contact.postcode %></td>
        </tr>
      <% end %>
      <% if params[:search].present? %>
        <tr class="clickable" onclick="window.location='<%= new_contact_path %>'">
          <td colspan="7">
            <%= link_to "Add a person", new_contact_path, class: "panel-header__action" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= render "shared/pagination", model: @contacts %>
  <% else %>
    <p class="no-results">No matches</p>
    <% if policy(Need).create? %>
      <%= link_to "Add a person", new_contact_path, class: "panel-header__action" %>
    <% end %>
  <% end %>
</div>