<p id="notice"><%= notice %></p>

<div class="table-title-section">
  <h1 class="page-title">People in need</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Assigned</th>
      <th>Name</th>
      <th>No. of tasks</th>
      <th>Priority</th>
      <th>Data logged</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <td></td>
      <td><%= contact.name %></td>
      <td><%= "#{contact.tasks_count} Tasks (#{contact.completed_tasks_count}x completed)" %></td>
      <td><%= contact.priority %></td>
      <td><%= contact.created_at.strftime("%-d %B %Y %k:%M%P") %></td>
      <td><%= link_to 'View', '#' %></td>
    </tr>
  <% end%>
  </tbody>
</table>
