<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<div class="page-header">
  <h1 class="page-title">People in need</h1>
</div>

<div class="table-holder">
  <table class="table">
    <thead>
      <tr>
        <th>Assigned</th>
        <th>Name</th>
        <th>Tasks</th>
        <th>Vulnerable</th>
        <th>Date logged</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td></td>
        <td><strong><%= link_to contact.name, contact %></strong></td>
        <td>
          <%= contact.tasks_count %>
          <small>(<%= contact.completed_tasks_count %> completed)</small>
        </td>
        <td>
          <% if contact.is_vulnerable %>
            Vulnerable
          <% end %>
        </td>
        <td><%= contact.created_at.strftime("%-d %B %Y %k:%M%P") %></td>
      </tr>
    <% end%>
    </tbody>
  </table>
</div>

<%= paginate @contacts %>
