<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<div class="page-header">
  <h1 class="page-title">People in need</h1>
</div>

<div class="table-holder">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tasks</th>
        <th>Priority</th>
        <th>Date logged</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><strong><%= link_to contact.name, contact %></strong></td>
        <td>
          <% if contact.tasks_count > 0 %>
            <%= pluralize(contact.uncompleted_tasks_count, 'need') %>
            <% if contact.completed_tasks_count > 0 %>
              <small>(<%= contact.completed_tasks_count %> completed)</small>
            <% end %>
          <% end %>
        </td>
        <td>
          <span class="tag"><%= contact.priority %></span>
        </td>
        <td><%= contact.created_at.strftime("%-d %B %Y %k:%M%P") %></td>
      </tr>
    <% end%>
    </tbody>
  </table>
</div>

<%= paginate @contacts %>
