<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<div class="table-holder">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Needs</th>
        <th>Vulnerable</th>
        <th>Date logged</th>
      </tr>
    </thead>

    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact %></td>
        <td>
          <%= contact.telephone || contact.mobile %>
        </td>
        <td>
          <% if contact.needs_count > 0 %>
            <%= pluralize(contact.uncompleted_needs_count, 'need') %>
            <% if contact.completed_needs_count > 0 %>
              <small>(<%= contact.completed_needs_count %> completed)</small>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if contact.is_vulnerable? %>
            <%= image_tag "red-tick.svg", alt: "vulnerable" %>
          <% else %>
            —
          <% end %>
        </td>
        <td><%= contact.created_at.strftime("%-d %B %Y %k:%M%P") %></td>
      </tr>
    <% end%>
    </tbody>
  </table>
</div>

<%= paginate @contacts %>
