<header class="panel-header">
  <%= link_to image_tag("left.svg", alt: "Go back"), contacts_path, class: "go-back" %>
  <h1 class="panel-header__title">New Enquiry</h1>
</header>

<!-- New contact form -->
<div class="panel">
  <%= form_with(model: @contact, local: true, class: "margin-bottom-70 two-thirds") do |f| %>   
    
    <section class="field-section field-section--two-cols">
    
      <!-- Errors -->
      <% if @contact.errors.any? %>
        <div class="error" id="error_explanation">
          <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this enquiry from being saved:</h2>
        
          <ul>
            <% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      

      <div class="field field--span-two-cols">
        <%= link_to "Have you checked if this person exists?", contacts_path %>
      </div>
              
      <div class="field" id="first-name-field">
        <%= f.label :first_name, class: "field__label"%>
        <%= f.text_field :first_name%>
      </div>

      <div class="field" id="last-name-field">
        <%= f.label :last_name, class: "field__label" %>
        <%= f.text_field :last_name %>
      </div>

      <div class="field field--span-two-cols" id="telephone-field">
        <%= f.label :telephone, "Telephone", class: "field__label" %>
        <%= f.text_field :telephone %>
      </div>
      
      <div class="field field--span-two-cols" id="channel-field">
        <%= f.label :channel, class: "field__label"%>
        <%= f.text_field :channel, placeholder: "Eg: phone, email, social media" %>
      </div>
      

      <div class="field field--span-two-cols checkbox" id="referral-field">
        <%= f.check_box :enquiry_referral, class: 'checkbox__input', checked: '0' %>
        <%= f.label :enquiry_referral, 'Is this enquiry a referral?', class: 'checkbox__label' %>
      </div>

      <div class="field field--span-two-cols" id="message-field">
        <%= f.label :enquiry_message, "Add message", class: "field__label" %>
        <%= f.text_area :enquiry_message %>
      </div>


      <div class="actions">
        <%= f.submit "Continue", class: "button button--primary" %>
      </div>
    </section>
  <% end %>
<div>