<ol class="breadcrumb">
  <li><%= link_to "People in need", contacts_path %></li>
  <li>Person</li>
</ol>

<div class="tabs">
  <%= link_to 'Profile', contact_path(@contact), class: 'tabs__tab' %>
  <div class="tabs__tab tabs__tab--current">View <%= @contact.first_name %>'s Tasks (<%= @contact.tasks.count %>)</div>
</div>

<div class="page-header page-header--with-button">
  <h1 class="page-title"><%= "#{@contact.first_name} #{@contact.middle_names} #{@contact.surname}" %></h1>
  <%= link_to('Add needs', new_contact_need_path(@contact.id), class: 'button pull-right') %>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Notes</th>
    <th>Assigned</th>
    <th>Date added</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @contact.tasks.each do |task_item| %>
    <tr>
      <td><%= task_item.name %></td>
      <td><%# todo: task notes count %></td>
      <% if task_item.user %>
        <td>Assigned to <%= task_item.user.name_or_email %></td>
      <% else %>
        <td>Unassigned</td>
      <% end %>
      <td><%= task_item.created_at.strftime("%d/%m/%Y at %I:%M%p") %></td>
      <td><%= link_to 'View', task_path(task_item) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_with(model: @task, url: [@contact, @task], local: true) do |form| %>
  <% if @task.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>