<% if @contact.is_vulnerable %>
  <div class="vulnerable-banner">
    <%= image_tag "vulnerable-icon-inverted.svg", alt: "", class: "vulnerable-banner__icon" %>
    This is a vulnerable person
  </div>
<% end %>

<div class="with-left-sidebar">

  <aside class="with-left-sidebar__left">
    <header class="panel-header">
      <h2 class="panel-header__title">Profile</h1>
    </header>
    <div class="panel panel--unpadded">  
      <%= render "profile-accordion" %>
    </div>
  </aside>

  <aside class="with-left-sidebar__right">
    <header class="panel-header">
      <h2 class="panel-header__title">Needs</h1>
      <% if @contact.needs.any? %>
        <span class="panel-header__badge"><%= @contact.needs.count %></span>
      <% end %>
      <%= link_to "Add a need", new_contact_need_path(@contact), class: "panel-header__action" %>
    </header>
    <div class="panel panel--unpadded">  
      <%= render "needs-table" %>
    </div>
  </aside>

</div>