<%= render "shared/vulnerable-banner" %>

<div class="with-left-sidebar">
  <aside class="with-left-sidebar__left">
    <header class="panel-header">
      <h2 class="panel-header__title">Profile</h2>
    </header>
    <div class="panel panel--unpadded">  
      <%= render "shared/profile-accordion" %>
    </div>
  </aside>

  <aside class="with-left-sidebar__right">

    <header class="panel-header" id="triage-panel">
      <% if policy(Need).create? %>
        <%= link_to "Add Needs", contact_triage_path(@contact), class: "btn-triage button button--dark" %>
      <% end %>
    </header>

    <header class="panel-header" id="enquiry-details-panel">
      <h2 class="panel-header__title">Enquiry Details</h2>
    </header>
    <div class="panel panel--unpadded">  
      <%= render partial: 'enquiry', locals: { contact: @contact } %>
    </div>

    <header class="panel-header" id="needs-panel">
      <h2 class="panel-header__title">Needs</h2>
      <% if @open_needs.any? %>
        <span class="panel-header__badge"><%= @open_needs.count %></span>
      <% end %>
    </header>
    <div class="panel panel--unpadded">  
      <%= render "needs-table" %>
    </div>

    <% if @completed_needs.any? %>
      <header class="panel-header" id="completed-needs-panel">
        <h2 class="panel-header__title">Completed</h2>
      </header>
      <div class="panel panel--unpadded">
        <table class="needs-table">
          <thead class="visually-hidden">
            <tr>
              <th>Type</th>
              <th>Priority</th>
              <th>Assigned</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
            <% @completed_needs.each do |n| %>
                <tr onclick="window.location='<%= need_path(n) %>'" class="need--<%= n.category.parameterize %>">
                <td>
                  <%= link_to n.category, n %>
                </td>
                <td>
                  <% if n.is_urgent %>
                    <span class="urgent-tag">Urgent</span>
                  <% else %>
                    —
                  <% end %>
                </td>
                <td><%= n.assigned %></td>
                <td><%= n.created_at&.strftime("%-d %B %Y") %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <header class="panel-header" id="needs-panel">
      <h2 class="panel-header__title">Assessments</h2>

      <%# Clicking this link should display 'schedule_an_assessment as a pseudo-drop down' %>
      <a style="flex:1; text-align:right" href="#" hidden="hidden">Add new assessment+</a>

      <%# This is visible by default as a non-javascript fallback, but should be pulled into a toggleable drop down %>
      <ul id="schedule_an_assessment">
        <li><%= link_to('Schedule an assessment', new_contact_assessment_path(@contact.id, :type => 'schedule')) %></li>
        <li><%= link_to('Log an assessment', new_contact_assessment_path(@contact.id, :type => 'log')) %></li>
      </ul>
    </header>
    <div class="panel panel--unpadded">
      <%= render "open_assessments" %>
    </div>

    <div class="panel panel--unpadded">
      <%= render "complete_assessments" %>
    </div>
  </aside>

</div>