<% if @contact.is_vulnerable %>
<p class="error">This is a vulnerable person</p>
<% end %>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "People in need", contacts_path %></li>
  <li>Person</li>
</ol>

<div class="tabs">
  <div class="tabs__tab tabs__tab--current">Profile</div>
  <%= link_to "View #{@contact.first_name}'s Needs (#{@contact.needs.count})", { controller: :contacts, action: :show_needs }, class: 'tabs__tab' %>
</div>

<div class="page-header">
  <h1 class="page-title"><%= "#{@contact.first_name} #{@contact.middle_names} #{@contact.surname}" %></h1>
</div>

<div class="contact-profile">
  <div class="contact-profile__left">
    <div class="contact-profile__row">
      <strong>NHS number</strong><span>placeholder</span><span><a href="#">Edit</a></span>
    </div>
    <div class="contact-profile__row">
      <strong>Medical conditions</strong><span>placeholder</span><span><a href="#">Edit</a></span>
    </div>
    <div class="contact-profile__row">
      <strong>Essential supplies</strong><span>placeholder</span><span><a href="#">Edit</a></span>
    </div>
    <div class="contact-profile__row">
      <strong>Notes</strong><span>placeholder</span><span><a href="#">Edit</a></span>
    </div>
  </div>
  <div class="contact-profile__right">
    <div class="contact-profile__right__title">
      <span>Contact Details</span>
      <%= link_to 'Edit', edit_contact_path(@contact) %>
    </div>
    <div class="contact-profile__row">
      <strong>Address:</strong>
      <%= @contact.address %>
    </div>

    <div class="contact-profile__row">
      <strong>Postcode:</strong>
      <%= @contact.postcode %>
    </div>

    <div class="contact-profile__row">
      <strong>Email:</strong>
      <%= @contact.email %>
    </div>

    <div class="contact-profile__row">
      <strong>Phone:</strong>
      <%= @contact.telephone %>
    </div>

    <div class="contact-profile__row">
      <strong>Mobile:</strong>
      <%= @contact.mobile %>
    </div>
  </div>
</div>
