<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "People in need", contacts_path %></li>
  <li>Person</li>
</ol>

<div class="page-header">
  <h1 class="page-title"><%= "#{@contact.first_name} #{@contact.middle_names} #{@contact.surname}" %></h1>
</div>

<div>
  <p>
    <strong>Phone:</strong>
    <%= @contact.telephone %>
  </p>
  <p>
    <strong>Mobile:</strong>
    <%= @contact.mobile %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @contact.address %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= @contact.postcode %>
  </p>

  <%= link_to 'Edit details', edit_contact_path(@contact) %>

</div>

    <table class="table">
      <% @contact.notes.each do |note| %>
      <tbody>
      <tr>
        <td style="vertical-align: top"><%= "Previous notes:" if note == @contact.notes.first %></td>
        <td><%= note.body %></td>
      </tr>
      <% end %>
      </tbody>
    </table>

<%= form_with(model: [@contact, @contact.notes.build], local: true) do |form| %>
  <p>
    <%= form.label 'Add a note' %><br>
    <%= form.text_area :body, class: 'note-textarea'%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>