<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<div class="tab_buttons margin-bottom-70">
  <%= link_to 'Profile', contact_path(@contact), class: 'active' %>
  <%= link_to "View #{@contact.first_name}'s Tasks (#{@contact.tasks.count})", controller: :contacts, action: :show_tasks %>
</div>

<h1 class="page-title"><%= "#{@contact.first_name} #{@contact.middle_names} #{@contact.surname}" %></h1>

<div class="two-thirds">
  <%= link_to 'Edit details', edit_contact_path(@contact) %>
  <div class="margin-bottom-70">
    <p>
      <strong>Phone:</strong>
      <%= @contact.telephone %>
    </p>
    <p>
      <strong>Mobile:</strong>
      <%= @contact.mobile %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @contact.address %>
    </p>

    <p>
      <strong>Postcode:</strong>
      <%= @contact.postcode %>
    </p>
  </div>
</div>
