<%= render "shared/vulnerable-banner" %>

<div id="lead-service-panel" >
  <%= render partial: 'shared/lead_service_panel', locals: { contact: @contact, teams_options: @teams_options} %>
</div>

<div class="with-left-sidebar">
  <aside class="with-left-sidebar__left">
    <header class="panel-header">
      <h2 class="panel-header__title">Profile</h2>
      <% if policy(@contact).edit? %>
        <%= link_to "Edit", edit_contact_path(@contact), class: "contact-edit-link button button--dark", id:"edit-contact-link", remote: true %>
      <% end %>
    </header>
    <div id="contact-side-container" class="panel panel--unpadded">
      <%= render "shared/profile-accordion" %>
    </div>
  </aside>

  <aside class="with-left-sidebar__right">

    <header class="panel-header" id="triage-panel">
      <% if policy(Need).create? %>
        <%= link_to "Add support actions", contact_triage_path(@contact), class: "btn-triage button button--dark" %>
      <% end %>
    </header>

    <header class="panel-header" id="needs-panel">
      <h2 class="panel-header__title">Support Actions</h2>
      <% if @open_needs.any? %>
        <span class="panel-header__badge"><%= @open_needs.count %></span>
      <% end %>
    </header>
    <div class="panel panel--unpadded">  
      <%= render "needs-table" %>
    </div>

    <% if @completed_needs.any? %>
      <div class="panel panel--unpadded">
        <table class="completed-needs-table-nav-show">
          <tbody>
            <tr id="toggle-visibility-completed-needs" class="need--financial-support">
              <td>
                <b><%= pluralize(@completed_needs.count, 'x completed need') %></b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel--unpadded">
        <%= render "completed-needs" %>
      </div>
    <% end %>

    <header class="panel-header" id="needs-panel">
      <h2 class="panel-header__title">Assessments</h2>

      <% if policy(Need).create? %>
        <div style="flex:1; text-align:right">
          <div class="assessment-dropdown">
            <button id="btnAssessmentDropdown">Add new assessment +</button>
            <div id="assessmentDropdownElements" class="assessment-dropdown-content">
              <%= link_to('Schedule an assessment', new_contact_assessment_path(@contact.id, :type => 'schedule'), id: 'schedule-assesment-btn') %>
              <%= link_to('Log an assessment', new_contact_assessment_path(@contact.id, :type => 'log'), id: 'log-assesment-btn') %>
            </div>
          </div>
          <noscript>
            <ul style="list-style-type: none" id="schedule_an_assessment">
            <li><%= link_to('Schedule an assessment', new_contact_assessment_path(@contact.id, :type => 'schedule'), id: 'schedule-assesment-nojs-btn') %></li>
            <li><%= link_to('Log an assessment', new_contact_assessment_path(@contact.id, :type => 'log'), id: 'log-assesment-nojs-btn') %></li>
          </ul>
          </noscript>


        </div>
      <% end %>
    </header>
    <div class="panel panel--unpadded">
      <%= render "assessments" %>
    </div>
    <div class="panel panel--unpadded">
      <table class="completed-needs-table-nav-show">
        <tbody>
          <tr id="toggle-visibility-completed-assessments" class="need--financial-support">
            <td>
              <b><%= pluralize(@completed_assessments.count, 'x completed assessment') %></b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </aside>
</div>
<%= javascript_pack_tag 'assessments' %>
<%= javascript_pack_tag 'completed-needs' %>
<%= javascript_pack_tag 'accordion', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'users_viewing_page.js' %>