<%= render "shared/vulnerable-banner" %>

<div class="with-left-sidebar">
  <aside class="with-left-sidebar__left">
    <header class="panel-header">
      <h2 class="panel-header__title">Profile</h2>
    </header>
    <div class="panel panel--unpadded">  
      <%= render "shared/profile-accordion" %>
    </div>
  </aside>

  <aside class="with-left-sidebar__right">

    <header class="panel-header" id="triage-panel">
      <% if policy(Need).create? %>
        <%= link_to "Triage", contact_triage_path(@contact), class: "btn-triage button button--dark" %>
      <% end %>
    </header>

    <header class="panel-header" id="enquiry-details-panel">
      <h2 class="panel-header__title">Enquiry Details</h2>
    </header>
    <div class="panel panel--unpadded">  
      <%= render partial: 'enquiry', locals: { contact: @contact } %>
    </div>

    <header class="panel-header" id="needs-panel">
      <h2 class="panel-header__title">Needs</h2>
      <% if @open_needs.any? %>
        <span class="panel-header__badge"><%= @open_needs.count %></span>
      <% end %>
    </header>
    <div class="panel panel--unpadded">  
      <%= render "needs-table" %>
    </div>

    <% if @completed_needs.any? %>
      <header class="panel-header" id="completed-needs-panel">
        <h2 class="panel-header__title">Completed</h2>
      </header>
      <div class="panel panel--unpadded">
        <table class="needs-table">
          <thead class="visually-hidden">
            <tr>
              <th>Type</th>
              <th>Priority</th>
              <th>Assigned</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
            <% @completed_needs.each do |n| %>
                <tr onclick="window.location='<%= need_path(n) %>'">
                <td style="border-left: 10px solid <%= get_need_border(n.category) %>">
                  <%= link_to n.category.humanize, n %>
                </td>
                <td>
                  <% if n.is_urgent %>
                    <span class="urgent-tag">Urgent</span>
                  <% else %>
                    —
                  <% end %>
                </td>
                <td><%= n.assigned %></td>
                <td><%= n.created_at&.strftime("%-d %B %Y") %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

  </aside>

</div>