<% if @contact.is_vulnerable %>
  <div class="vulnerable-banner">
    <div class="container"><%= image_tag "exclamation.svg", alt: "" %> This is a vulnerable person</div>
  </div>
<% end %>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "People in need", contacts_path %></li>
  <li>Person</li>
</ol>

<div class="tabs">
  <div class="tabs__tab tabs__tab--current">Profile</div>
  <%= link_to "#{@contact.first_name}'s Needs (#{@contact.needs.count})", { controller: :contacts, action: :show_needs }, class: 'tabs__tab' %>
</div>

<div class="page-header page-header--with-button">
  <h1 class="page-title"><%= "#{@contact.first_name} #{@contact.middle_names} #{@contact.surname}" %></h1>
  <%= link_to 'Edit profile', edit_contact_path(@contact), class: 'button pull-right' %>
</div>

<div class="contact-profile">
  <div class="contact-profile__left">
    <div class="contact-profile__row">
      <strong>Address</strong>
      <span><%= @contact.address %></span>
    </div>
    <div class="contact-profile__row">
      <strong>Postcode:</strong>
      <span><%= @contact.postcode %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Email:</strong>
      <span><%= @contact.email %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Landline:</strong>
      <span><%= @contact.telephone %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Mobile:</strong>
      <span><%= @contact.mobile %></span>
    </div>

    <% if @contact.additional_info %>
      <div class="contact-profile__row">
        <strong>Additional info:</strong>
        <span><%= @contact.additional_info %></span>
      </div>
    <% end %>
  </div>
</div>
