<% if @contact.is_vulnerable %>
  <div class="vulnerable-banner">
    <div class="container"><%= image_tag "exclamation.svg", alt: "" %> This is a vulnerable person</div>
  </div>
<% end %>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "People in need", contacts_path %></li>
  <li><%= @contact.name %></li>
</ol>

<div class="tabs">
  <div class="tabs__tab tabs__tab--current">Profile</div>
  <%= link_to "#{@contact.first_name}'s Needs (#{@contact.needs.count})", { controller: :contacts, action: :show_needs }, class: 'tabs__tab' %>
</div>

<div class="page-header page-header--with-button">
  <h1 class="page-title"><%= "#{@contact.first_name} #{@contact.middle_names} #{@contact.surname}" %></h1>
  <%= link_to 'Edit profile', edit_contact_path(@contact), class: 'button pull-right' %>
</div>

<div class="contact-profile">
  <div class="contact-profile__left">
    <div class="contact-profile__row">
      <strong>Address</strong>
      <span><%= @contact.address %></span>
    </div>
    <div class="contact-profile__row">
      <strong>Postcode:</strong>
      <span><%= @contact.postcode %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Email:</strong>
      <span><%= @contact.email %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Landline:</strong>
      <span><%= @contact.telephone %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Mobile:</strong>
      <span><%= @contact.mobile %></span>
    </div>


    <div class="contact-profile__row">
      <strong>Any dietary requirements?</strong>
      <span><%= boolean_formatter(@contact.any_dietary_requirements) %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Dietary details:</strong>
      <span><%= @contact.dietary_details %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Cooking facilities:</strong>
      <span><%= @contact.cooking_facilities %></span>
    </div>
  </div>

  <div class="contact-profile__right">

    <div class="contact-profile__row">
      <strong>People in house:</strong>
      <span><%= @contact.count_people_in_house %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Children under 15:</strong>
      <span><%= boolean_formatter(@contact.any_children_below_15) %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Free prescriptions?</strong>
      <span><%= boolean_formatter(@contact.eligible_for_free_prescriptions) %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Delivery details:</strong>
      <span><%= @contact.delivery_details %></span>
    </div>

    <div class="contact-profile__row">
      <strong>Shield ID:</strong>
      <span><%= @contact.shielded_id %></span>
    </div>
    <div class="contact-profile__row">
      <strong>NHS number:</strong>
      <span><%= @contact.nhs_number %></span>
    </div>
    <div class="contact-profile__row">
      <strong>Mosaid ID:</strong>
      <span><%= @contact.mosaid_id %></span>
    </div>
    <div class="contact-profile__row">
      <strong>Mosaid ID2:</strong>
      <span><%= @contact.mosaid_id2 %></span>
    </div>

    <div class="contact-profile__row">
      <strong>EH Flag:</strong>
      <span><%= boolean_formatter @contact.eh_flag %></span>
    </div>
    <% if @contact.eh_flag %>
      <div class="contact-profile__row">
        <strong>EH team:</strong>
        <span><%= @contact.eh_team %></span>
      </div> 
      <div class="contact-profile__row">
        <strong>EH worker:</strong>
        <span><%= @contact.eh_worker %></span>
      </div>
    <% end %>

    <div class="contact-profile__row">
      <strong>CSSW Flag:</strong>
      <span><%= boolean_formatter @contact.cssw_flag %></span>
    </div>
    <% if @contact.cssw_flag %>
      <div class="contact-profile__row">
        <strong>CSSW team:</strong>
        <span><%= @contact.cssw_team %></span>
      </div> 
      <div class="contact-profile__row">
        <strong>CSSW worker:</strong>
        <span><%= @contact.cssw_worker %></span>
      </div>
    <% end %>

    <div class="contact-profile__row">
      <strong>ASC Flag:</strong>
      <span><%= boolean_formatter @contact.asc_flag %></span>
    </div>
    <% if @contact.asc_flag %>
      <div class="contact-profile__row">
        <strong>ASC PSR:</strong>
        <span><%= @contact.asc_psr %></span>
      </div> 
      <div class="contact-profile__row">
        <strong>ASC workers:</strong>
        <span><%= @contact.asc_workers %></span>
      </div>
    <% end %>
    
    <% if @contact.additional_info %>
      <div class="contact-profile__row">
        <strong>Additional info:</strong>
        <span><%= @contact.additional_info %></span>
      </div>
    <% end %>


  </div>
</div>
