<% if @contact.is_vulnerable %>
  <div class="vulnerable-banner">
    <div class="container"><%= image_tag "exclamation.svg", alt: "" %> This is a vulnerable person</div>
  </div>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "People in need", contacts_path %></li>
  <li>Person</li>
</ol>

<div class="tabs">
  <%= link_to 'Profile', contact_path(@contact), class: 'tabs__tab' %>
  <div class="tabs__tab tabs__tab--current"><%= @contact.first_name %>'s Needs (<%= @contact.needs.count %>)</div>
</div>

<div class="page-header page-header--with-button">
  <h1 class="page-title"><%= "#{@contact.first_name} #{@contact.middle_names} #{@contact.surname}" %></h1>
  <%= link_to('Add needs', new_contact_need_path(@contact.id), class: 'button pull-right') %>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Need type</th>
    <th>Date added</th>
    <th>Assigned to</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @contact.needs.each do |need_item| %>
    <tr>
      <td><%= need_item.category.humanize %></td>
      <td><%= need_item.created_at.strftime("%d/%m/%Y at %I:%M%p") %></td>
      <% if need_item.user %>
        <td>Assigned to <%= need_item.user.name_or_email %></td>
      <% else %>
        <td>Unassigned</td>
      <% end %>
      <td><%= link_to 'View', need_path(need_item) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_with(model: @need, url: [@contact, @need], local: true) do |form| %>
  <% if @need.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
        <% @need.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
