<%= render "shared/vulnerable-banner" %>

<div id="lead-service-panel" >
  <%= render partial: 'shared/lead_service_panel', locals: { contact: @contact, teams_options: @teams_options} %>
</div>

<%= render 'shared/side-contact-profile' %>

  <aside class="with-left-sidebar__right">
    <header class="panel-header" id="needs-panel">
      <h2 class="panel-header__title">Needs</h2>
      <% if @open_needs.any? %>
        <span class="panel-header__badge"><%= @open_needs.count %></span>
      <% end %>
      <% if policy(Need).create? %>
        <%= link_to "Add needs +", contact_triage_path(@contact), class: "btn-triage" %>
      <% end %>
    </header>
    <div class="panel panel--unpadded">  
      <%= render "needs-table" %>
    </div>

    <% if @completed_needs.any? %>
      <div class="panel panel--unpadded">
        <table class="completed-needs-table-nav-show">
          <tbody>
            <tr id="toggle-visibility-completed-need" class="need--financial-support">
              <td>
                <b><%= pluralize(@completed_needs.count, 'x completed need') %></b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel--unpadded">
        <%= render partial: "completed-needs", locals: { completed: @completed_needs, class_name: 'completed-need' } %>
      </div>
    <% end %>

    <header class="panel-header" id="needs-panel">
      <% if policy(Need).create? %>
        <div class="left">
            <button class="tablink" id="triage">Triage</button>
            <button class="tablink" id="check-in">Check-in</button>
            <button class="tablink" id="mdt-review">MDT Review</button>
        </div>
        <div class="assessment-operations right">
          <div class="assessment-dropdown">
            <button id="btnAssessmentDropdown">Add +</button>
            <div id="assessmentDropdownElements" class="assessment-dropdown-content">
              <%= link_to('Schedule', new_contact_assessment_path(@contact.id, :type => 'schedule'), id: 'schedule-assesment-btn') %>
              <%= link_to('Log', new_contact_assessment_path(@contact.id, :type => 'log'), id: 'log-assesment-btn') %>
            </div>
          </div>
          <noscript>
            <ul style="list-style-type: none" id="schedule_an_assessment">
            <li><%= link_to('Schedule', new_contact_assessment_path(@contact.id, :type => 'schedule'), id: 'schedule-assesment-nojs-btn') %></li>
            <li><%= link_to('Log', new_contact_assessment_path(@contact.id, :type => 'log'), id: 'log-assesment-nojs-btn') %></li>
          </ul>
          </noscript>


        </div>
      <% end %>
    </header>
    <div class="panel panel--unpadded">
      <%= render partial: "assessments", locals: { open_assessments: @open_assessments } %>
    </div>
    <div class="panel panel--unpadded">
      <table class="completed-needs-table-nav-show">
        <tbody>
          <tr id="toggle-visibility-completed-assessment" class="need--financial-support">
            <td>
              <b><%= pluralize(@completed_assessments.count, 'x completed') %></b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel--unpadded">
      <%= render partial: "completed-needs", locals: { completed: @completed_assessments, class_name: 'completed-assessment' } %>
    </div>
  </aside>
</div>
<%= javascript_pack_tag 'assessments' %>
<%= javascript_pack_tag 'completed-needs' %>
<%= javascript_pack_tag 'assessment-tabs' %>