<fieldset class="field-section field-section--two-cols">
  <legend><h2 class="field-section__title">How many people live in your house</h2></legend>

  <div class="field field--span-two-cols">
    <%= label_tag :count_people_in_house, 'Number of people', class: "field__label" %>
    <%= text_field_tag :count_people_in_house %>
  </div>
</fieldset>


<fieldset class="field-section field-section--two-cols">
  <legend><h2 class="field-section__title">Do you have any children under 15?</h2></legend>

  <div class="field field--span-two-cols">
    <div class="checkbox">
      <%= form.radio_button :any_children_below_15, true, { class: "checkbox__input" } %>
      <%= form.label 'any_children_below_15_true', 'Yes', class: "checkbox__label" %>
    </div>
    <div class="checkbox">
      <%= form.radio_button :any_children_below_15, false, { class: "checkbox__input" } %>
      <%= form.label 'any_children_below_15_false', 'No', class: "checkbox__label" %>
    </div>
  </div>
</fieldset>