<div class="sidenav">

  <div class="sidenav__logo">
  <svg width="136" height="45" viewBox="0 0 136 45" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M44.5784 22.2892C44.5784 34.5992 34.5992 44.5784 22.2892 44.5784C9.97921 44.5784 0 34.5992 0 22.2892C0 9.97921 9.97921 0 22.2892 0C34.5992 0 44.5784 9.97921 44.5784 22.2892Z" fill="#156BEC"/>
    <path d="M60.1431 29.7827H66.8012C69.6649 29.7827 71.3831 28.136 71.3831 25.4871C71.3831 23.6257 69.9751 21.8359 68.2808 21.5734C69.7126 21.287 71.0729 19.9268 71.0729 17.9222C71.0729 15.4164 69.3308 13.8652 66.6819 13.8652H60.1431V29.7827ZM61.5033 21.0006V15.1062H66.5148C68.5671 15.1062 69.641 16.4426 69.641 18.0653C69.641 19.712 68.5671 21.0006 66.5148 21.0006H61.5033ZM61.5033 28.5417V22.2416H66.6103C68.8296 22.2416 69.9513 23.7689 69.9513 25.3917C69.9513 27.3247 68.7103 28.5417 66.6103 28.5417H61.5033Z" fill="white"/>
    <path d="M74.0859 24.0075C74.0859 27.5633 76.4962 30.069 79.8611 30.069C81.7702 30.069 83.2259 29.4009 84.3714 28.2076L83.7271 27.3963C82.7248 28.4463 81.4123 28.9952 79.9327 28.9952C77.236 28.9952 75.5655 26.919 75.4462 24.4132H85.0873V24.0791C85.0873 20.762 83.1543 17.9699 79.6463 17.9699C76.4485 17.9699 74.0859 20.6665 74.0859 24.0075ZM79.6224 19.0438C82.51 19.0438 83.7987 21.4779 83.8225 23.4348H75.4462C75.5416 21.4302 76.9019 19.0438 79.6224 19.0438Z" fill="white"/>
    <path d="M95.6206 29.7827H96.8615V21.6688C96.8615 19.0915 95.0001 17.9699 92.6376 17.9699C90.7523 17.9699 89.4159 18.6142 88.2227 19.9268L88.9148 20.762C89.9648 19.5688 91.0864 19.0676 92.5183 19.0676C94.2365 19.0676 95.6206 20.0222 95.6206 21.7166V24.0553C94.5944 22.9336 93.3058 22.4325 91.7069 22.4325C89.7023 22.4325 87.6738 23.7212 87.6738 26.2269C87.6738 28.7088 89.7261 30.069 91.7069 30.069C93.3058 30.069 94.5944 29.544 95.6206 28.4224V29.7827ZM95.6206 27.5156C94.8092 28.5656 93.5206 29.0906 92.1364 29.0906C90.2273 29.0906 88.9863 27.8735 88.9863 26.2508C88.9863 24.628 90.2273 23.3871 92.1364 23.3871C93.5206 23.3871 94.8092 23.9359 95.6206 24.986V27.5156Z" fill="white"/>
    <path d="M100.071 24.0075C100.071 27.3724 102.29 30.069 105.679 30.069C107.66 30.069 108.829 29.2815 109.76 28.0883L108.901 27.3247C108.042 28.4701 107.015 28.9474 105.751 28.9474C103.054 28.9474 101.407 26.7758 101.407 24.0075C101.407 21.2393 103.054 19.0915 105.751 19.0915C107.015 19.0915 108.042 19.5449 108.901 20.6904L109.76 19.9268C108.829 18.7574 107.66 17.9699 105.679 17.9699C102.29 17.9699 100.071 20.6427 100.071 24.0075Z" fill="white"/>
    <path d="M117.4 30.069C120.812 30.069 122.96 27.3724 122.96 24.0075C122.96 20.6427 120.812 17.9699 117.4 17.9699C114.035 17.9699 111.863 20.6427 111.863 24.0075C111.863 27.3724 114.035 30.069 117.4 30.069ZM117.4 28.9474C114.727 28.9474 113.2 26.5849 113.2 24.0075C113.2 21.4541 114.727 19.0915 117.4 19.0915C120.12 19.0915 121.624 21.4541 121.624 24.0075C121.624 26.5849 120.12 28.9474 117.4 28.9474Z" fill="white"/>
    <path d="M133.945 29.7827H135.185V21.7166C135.185 19.1154 133.897 17.9699 131.558 17.9699C129.888 17.9699 128.241 18.996 127.406 19.9983V18.2563H126.165V29.7827H127.406V21.0722C128.146 20.0461 129.673 19.0915 131.152 19.0915C132.823 19.0915 133.945 19.7597 133.945 22.0029V29.7827Z" fill="white"/>
    <path d="M60.1431 29.7827H66.8012C69.6649 29.7827 71.3831 28.136 71.3831 25.4871C71.3831 23.6257 69.9751 21.8359 68.2808 21.5734C69.7126 21.287 71.0729 19.9268 71.0729 17.9222C71.0729 15.4164 69.3308 13.8652 66.6819 13.8652H60.1431V29.7827ZM61.5033 21.0006V15.1062H66.5148C68.5671 15.1062 69.641 16.4426 69.641 18.0653C69.641 19.712 68.5671 21.0006 66.5148 21.0006H61.5033ZM61.5033 28.5417V22.2416H66.6103C68.8296 22.2416 69.9513 23.7689 69.9513 25.3917C69.9513 27.3247 68.7103 28.5417 66.6103 28.5417H61.5033Z" stroke="white"/>
    <path d="M74.0859 24.0075C74.0859 27.5633 76.4962 30.069 79.8611 30.069C81.7702 30.069 83.2259 29.4009 84.3714 28.2076L83.7271 27.3963C82.7248 28.4463 81.4123 28.9952 79.9327 28.9952C77.236 28.9952 75.5655 26.919 75.4462 24.4132H85.0873V24.0791C85.0873 20.762 83.1543 17.9699 79.6463 17.9699C76.4485 17.9699 74.0859 20.6665 74.0859 24.0075ZM79.6224 19.0438C82.51 19.0438 83.7987 21.4779 83.8225 23.4348H75.4462C75.5416 21.4302 76.9019 19.0438 79.6224 19.0438Z" stroke="white"/>
    <path d="M95.6206 29.7827H96.8615V21.6688C96.8615 19.0915 95.0001 17.9699 92.6376 17.9699C90.7523 17.9699 89.4159 18.6142 88.2227 19.9268L88.9148 20.762C89.9648 19.5688 91.0864 19.0676 92.5183 19.0676C94.2365 19.0676 95.6206 20.0222 95.6206 21.7166V24.0553C94.5944 22.9336 93.3058 22.4325 91.7069 22.4325C89.7023 22.4325 87.6738 23.7212 87.6738 26.2269C87.6738 28.7088 89.7261 30.069 91.7069 30.069C93.3058 30.069 94.5944 29.544 95.6206 28.4224V29.7827ZM95.6206 27.5156C94.8092 28.5656 93.5206 29.0906 92.1364 29.0906C90.2273 29.0906 88.9863 27.8735 88.9863 26.2508C88.9863 24.628 90.2273 23.3871 92.1364 23.3871C93.5206 23.3871 94.8092 23.9359 95.6206 24.986V27.5156Z" stroke="white"/>
    <path d="M100.071 24.0075C100.071 27.3724 102.29 30.069 105.679 30.069C107.66 30.069 108.829 29.2815 109.76 28.0883L108.901 27.3247C108.042 28.4701 107.015 28.9474 105.751 28.9474C103.054 28.9474 101.407 26.7758 101.407 24.0075C101.407 21.2393 103.054 19.0915 105.751 19.0915C107.015 19.0915 108.042 19.5449 108.901 20.6904L109.76 19.9268C108.829 18.7574 107.66 17.9699 105.679 17.9699C102.29 17.9699 100.071 20.6427 100.071 24.0075Z" stroke="white"/>
    <path d="M117.4 30.069C120.812 30.069 122.96 27.3724 122.96 24.0075C122.96 20.6427 120.812 17.9699 117.4 17.9699C114.035 17.9699 111.863 20.6427 111.863 24.0075C111.863 27.3724 114.035 30.069 117.4 30.069ZM117.4 28.9474C114.727 28.9474 113.2 26.5849 113.2 24.0075C113.2 21.4541 114.727 19.0915 117.4 19.0915C120.12 19.0915 121.624 21.4541 121.624 24.0075C121.624 26.5849 120.12 28.9474 117.4 28.9474Z" stroke="white"/>
    <path d="M133.945 29.7827H135.185V21.7166C135.185 19.1154 133.897 17.9699 131.558 17.9699C129.888 17.9699 128.241 18.996 127.406 19.9983V18.2563H126.165V29.7827H127.406V21.0722C128.146 20.0461 129.673 19.0915 131.152 19.0915C132.823 19.0915 133.945 19.7597 133.945 22.0029V29.7827Z" stroke="white"/>
    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="45" height="45">
      <path d="M44.5784 22.2892C44.5784 34.5992 34.5992 44.5784 22.2892 44.5784C9.97921 44.5784 0 34.5992 0 22.2892C0 9.97921 9.97921 0 22.2892 0C34.5992 0 44.5784 9.97921 44.5784 22.2892Z" fill="#2F2D2E"/>
    </mask>
    <g mask="url(#mask0)">
      <path d="M29.2257 36.0549H15.448C17.1882 21.892 16.2623 29.4206 17.7141 17.6088H17.4059C16.2848 17.6088 15.3755 16.8057 15.3755 15.8155C15.3755 14.8254 16.2848 14.0221 17.4059 14.0221V10.6915C17.4059 6.80017 22.7468 4.89241 25.8234 7.61206C26.716 8.39986 27.2679 9.48869 27.2679 10.6915V14.0221C28.3889 14.0221 29.2983 14.8253 29.2983 15.8155C29.2983 16.8055 28.3889 17.6088 27.2679 17.6088H26.9597C28.0274 26.3067 28.228 27.9278 29.2257 36.0549Z" fill="#E8F8FC"/>
      <path d="M27.2677 10.6915V14.0221H17.4058V10.6915C17.4058 6.80009 22.7467 4.89246 25.8232 7.61204C26.7159 8.39985 27.2677 9.48868 27.2677 10.6915Z" fill="#EAD95B"/>
      <path d="M23.4969 12.4856C22.4973 12.4856 21.6841 11.7673 21.6841 10.8844C21.6841 10.0015 22.4973 9.2832 23.4969 9.2832C24.4966 9.2832 25.3098 10.0015 25.3098 10.8844C25.3098 11.7673 24.4966 12.4856 23.4969 12.4856Z" fill="#D5C133"/>
      <path d="M32.7363 7.90995C32.4733 7.39384 32.7339 6.78717 33.3182 6.55487L36.2188 5.40198C36.8029 5.16987 37.4899 5.39981 37.7529 5.91598C38.0158 6.43208 37.7553 7.03876 37.1709 7.27106L34.2704 8.42394C33.6863 8.65612 32.9993 8.42625 32.7363 7.90995Z" fill="#EAD95B"/>
      <path d="M36.2188 16.3663L33.3182 15.2134C32.7338 14.9812 32.4733 14.3745 32.7363 13.8584C32.9993 13.3422 33.6864 13.1123 34.2704 13.3444L37.171 14.4972C37.7554 14.7295 38.0158 15.3362 37.7529 15.8523C37.49 16.3685 36.803 16.5986 36.2188 16.3663Z" fill="#EAD95B"/>
      <path d="M38.0727 11.9089H36.2598C35.619 11.9089 35.0996 11.4501 35.0996 10.8842C35.0996 10.3182 35.619 9.85938 36.2598 9.85938H38.0727C38.7135 9.85938 39.2329 10.3182 39.2329 10.8842C39.2329 11.4501 38.7135 11.9089 38.0727 11.9089Z" fill="#EAD95B"/>
      <path d="M10.4033 8.424L7.50276 7.27112C6.91843 7.03888 6.65789 6.43214 6.92083 5.91603C7.18376 5.39986 7.87055 5.1698 8.45502 5.40204L11.3556 6.55492C11.9399 6.78716 12.2005 7.3939 11.9375 7.91001C11.6747 8.42579 10.9882 8.65637 10.4033 8.424Z" fill="#EAD95B"/>
      <path d="M7.97983 16.4569C6.73823 16.4569 6.36442 14.9499 7.50304 14.4973L10.4036 13.3444C10.9879 13.1122 11.6748 13.3422 11.9378 13.8584C12.2007 14.3745 11.9402 14.9812 11.3559 15.2135C8.20317 16.4666 8.3139 16.4569 7.97983 16.4569Z" fill="#EAD95B"/>
      <path d="M8.41401 11.9089H6.60115C5.96041 11.9089 5.44092 11.4501 5.44092 10.8842C5.44092 10.3182 5.96041 9.85938 6.60115 9.85938H8.41401C9.05475 9.85938 9.57425 10.3182 9.57425 10.8842C9.57425 11.4501 9.05482 11.9089 8.41401 11.9089Z" fill="#EAD95B"/>
      <path d="M27.315 15.3002C25.9318 15.299 23.4371 15.3034 18.8563 15.3034C17.9347 15.3034 17.184 15.8375 16.9236 16.5457C16.7264 17.0821 15.8795 17.1256 15.5919 16.622C14.902 15.4139 15.9267 14.0225 17.4502 14.0225H27.2679C28.338 14.0225 28.2435 15.3011 27.315 15.3002Z" fill="#F1FAFC"/>
      <path d="M28.7075 31.8323L16.971 36.0556H15.4482L16.1959 29.971L27.9207 25.7438C27.9792 25.7378 27.9004 25.2675 28.7075 31.8323Z" fill="#E1655B"/>
      <path d="M26.9596 17.6094C27.222 19.7469 27.2077 19.5939 27.1953 19.5949C16.577 23.4134 17.0553 23.2468 17.0215 23.2438L17.714 17.6094H26.9596Z" fill="#E1655B"/>
      <path d="M19.8898 17.6094C18.4741 29.1274 19.3169 22.2753 17.6237 36.0555H15.4482C17.1884 21.8925 16.2626 29.4211 17.7143 17.6094H19.8898Z" fill="#F1FAFC"/>
      <path d="M18.4721 29.1504C18.3108 30.4641 17.8008 34.6153 17.6541 35.8096L16.971 36.0555H15.4482L16.1959 29.9709L18.4721 29.1504Z" fill="#ED837A"/>
      <path d="M19.8894 17.6094L19.2963 22.4355L17.0432 23.2457C17.0094 23.2427 16.9683 23.6765 17.714 17.6094H19.8894Z" fill="#ED837A"/>
      <path d="M19.4235 7.18147C20.6926 6.37631 22.1493 7.91323 21.038 8.88351C20.148 9.66055 19.5812 10.7411 19.5812 11.9734V14.0229H17.4058V10.6924C17.4058 9.1593 18.2333 7.93648 19.4235 7.18147Z" fill="#F4E781"/>
    </g>
  </svg>
  </div>

  <div class="sidenav__block sidenav__block--call-list">
    Call List
  </div>
  <div class="sidenav__block sidenav__block--people">
    People
  </div>
  <a href="#personal-details" data-turbolinks="false" class="sidenav__block">Personal Details</a>
  <% needs.each do |need| %>
    <a href="#<%= need.parameterize %>" class="sidenav__block need" data-turbolinks="false"><%= need %></a>
  <% end %>
  <a href="#other" class="sidenav__block need" data-turbolinks="false">Other</a>
</div>

<ol class="breadcrumb">
  <li><%= link_to "People in need", contacts_path %></li>
  <li><%= link_to @contact.name, contact_path(@contact) %></li>
  <li>Call</li>
</ol>

<%= form_with(model: [@contacts, @call_form], url: contact_call_forms_path, local: true, class: "margin-bottom-70 two-thirds") do |form| %>
  <a class="anchor-point" id="personal-details"></a>
  <div class="page-header">
    <h1 class="page-title">Personal Details</h1>
  </div>

  <%= fields_for :contact, @call_form.contact do |contact_fields| %>
    <%= render partial: 'contacts/form_fields', locals: { contact: @call_form.contact, form: contact_fields } %>

    <!-- todo: Update this to point to where the new fields will be saved -->
    <%= render 'extra_personal_information', contact: @call_form, form: form %>
  <% end %>

  <div class="page-header">
    <h1 class="page-title">Add needs</h1>
  </div>

  <% needs.each_with_index do |need, index| %>
    <a class="anchor-point" id="<%= need.parameterize %>" href="#"></a>
    <fieldset class="field-section">
      <%= form.hidden_field "needs_list[#{index}][name]", :value => need.parameterize.underscore, :id => "needs_name_#{index}" %>

      <legend class="field-section__title"><h3><%= need %></h3></legend>

      <div class="radio">
        <%= form.radio_button "needs_list[#{index}][active]", true, :id => "needs_active_#{index}_true" %>
        <label for="needs_active_<%= index %>_true" class="radio__label">Yes</label>
      </div>

      <div class="radio">
        <%= form.radio_button "needs_list[#{index}][active]", false, :id => "needs_active_#{index}_false" %>
        <label for="needs_active_<%= index %>_false" class="radio__label">No</label>
      </div>

      <div class="field">
        <label for="<%= "needs_desc_#{index}" %>" class="field__label">Describe more about how we can help</label>
        <%= form.text_area "needs_list[#{index}][description]", :id => "needs_desc_#{index}" %>
      </div>

      <div class="checkbox">
        <%= form.check_box "needs_list[#{index}][is_urgent]", :id => "needs_is_urgent_#{index}", class: 'checkbox__input' %>
        <label for="<%= "needs_is_urgent_#{index}" %>" class="checkbox__label">Urgent need</label>
      </div>

      <br/>
      <%= fields_for :contact, @call_form.contact do |contact_form| %>
        <% if File.exists?(Rails.root.join("app", "views", params[:controller], "_#{need.parameterize.underscore}.html.erb")) %>
          <%# form will save to the need, contact_form will save to the contact %>
          <%= render :partial => "#{need.parameterize.underscore}", locals: { form: form, contact_form: contact_form } %>
        <% end %>
      <% end %>
    </fieldset>
  <% end %>

  <div class="field">
    <a class="anchor-point" id="other" href="#"></a>
    <%= form.label :other_need, class: "field__label" %>
    <%= form.text_field :other_need %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>

<%= javascript_pack_tag 'navbar' %>