<header class="panel-header">
  <h1 class="panel-header__title">All MDT reviews</h1>
</header>

<%= render "shared/table/bulk-actions" %>

<div class="panel">
  <% if @needs.any? %>
    <table class="table data-table">
      <thead>
      <tr>
        <th>Person</th>
        <th>Shielded</th>
        <th>Status</th>
        <th>
          <div class="sortable">
              Urgent
              <div class="sortable__controls">
                <%= link_to_unless_current image_tag("sort-asc.svg", alt: "sort ascending"), @params.merge(order: 'is_urgent', order_dir: 'ASC') do %><%= image_tag "sort-asc-grey.svg", alt: "sorted ascending" %><% end %>
                <%= link_to_unless_current image_tag("sort-desc.svg", alt: "sort descending"), @params.merge(order: 'is_urgent', order_dir: 'DESC') do %><%= image_tag "sort-desc-grey.svg", alt: "sorted descending" %><% end %>
              </div>
            </div>
        </th>
        <th>
          Support Actions
        </th>
        <th>
          Categories
      </th>
        <th>Assigned to</th>
        <th>
          <div class="sortable">
          Last contacted
          <div class="sortable__controls">
            <%= link_to_unless_current image_tag("sort-asc.svg", alt: "sort ascending"), @params.merge(order: 'last_phoned_date', order_dir: 'ASC') do %><%= image_tag "sort-asc-grey.svg", alt: "sorted ascending" %><% end %>
            <%= link_to_unless_current image_tag("sort-desc.svg", alt: "sort descending"), @params.merge(order: 'last_phoned_date', order_dir: 'DESC') do %><%= image_tag "sort-desc-grey.svg", alt: "sorted descending" %><% end %>
          </div>
          </div>
        </th>
        <th>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @needs.each do |n| %>
        <tr class="selectable">
          <td><%= n.contact_name %></td>
          <td>
            <% if n.contact_is_vulnerable %>
              <%= image_tag "red-tick.svg", alt: "shielded" %>
            <% else %>
              —
            <% end %>
          </td>
          <td><%= n.status_label %></td>
          <td>
            <% if n.is_urgent %>
              <span class="urgent-tag">Urgent</span>
            <% else %>
              —
            <% end %>
          </td>
          <td><%= n.contact.support_actions_count %></td>
          <td><%= n.contact.support_actions_names %></td>
          <td>
            <%= n.user&.name_or_email || n.role&.name || 'Unassigned' %>
          </td>
          <td>
            <%= n.last_phoned_date&.strftime("%-d %B %Y") %>
          </td>
          <td>
            <%= link_to 'Action', need_path(n), class: "button", id: "action-mdt-#{n.id}", method: :get  %>          
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= render "shared/pagination", model: @needs %>
  <% else %>
    <p class="no-results">No matches</p>
  <% end %>
  <%= javascript_pack_tag 'bulk-actions', 'data-turbolinks-track': 'reload' %>
</div>
