<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head"%>
  <body>

    <%= render "shared/side-nav" %>

    <div class="content-pane">

      <header class="panel content-header">
        <%= yield :header %>
        <nav class="content-header__actions-right">
          <% if request.path_info.include?('/triage') %>
            <!-- Ask the user to confirm you want to exit triage -->
            <%= link_to "Add Enquiry", new_contact_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', id: "btnAddEnquiry", class: "button button--dark" } %>
          <% else %>
            <!-- Go straight to Add enquiry page -->
            <%= link_to "Add Enquiry", new_contact_path, class: "button button--dark" %>
          <% end %>          
        </nav>
      </header>
      
      <!-- Concurrent Users modal -->
      <div id="concurrent-users-modal">
        <div id="concurrent-users"></div>
        <div id="contactId" hidden="hidden"><%= @edit_contact_id %></div>
        <div id="userEmail" hidden="hidden"><%= current_user.email %></div>
      </div>

      <!-- Notifications -->
      <% flash.each do |type, msg| %>
        <div class="<%= type %>"><%= msg %></div>
      <% end %>

      <%= yield %>

    </div>

    <%= render :partial =>  "shared/popup" %>

    <%= javascript_pack_tag 'role-switcher' %>
    <%= javascript_pack_tag 'enquiry-common' %>
  </body>
</html>
