<!DOCTYPE html>
<html>
  <%= render :partial => "shared/head"%>
  <body>

    <header class="site-header">
      <div class="site-header__inner container">

        <%= link_to image_tag('logo.svg'), root_path, alt: "Camden Council", class: "site-header__logo" %>

        <nav class="site-header__nav">
          <ul class="site-header__links">
            <li class="site-header__link"><%= link_to_unless_current 'To-do list', tasks_path, controller: :tasks %></li>
            <li class="site-header__link"><%= link_to_unless_current 'People', contacts_path, controller: :contacts %></li>
            <li class="site-header__link"><%= link_to_unless_current 'Users', users_path, controller: :users %></li>
          </ul>

          <div class="site-header__right-menu">
            <% if current_user %>
              <span class="current-user"><%= current_user.email %></span>
              <%= link_to 'Log out', auth.sign_out_path %>
            <% else %>
              <%= link_to 'Log in', auth.sign_in_path %>
            <% end %>
          </div>
        </nav>

      </div>
    </header>

    <div class="main-content">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <p class="site-footer__notice">© 2020 Council name here</p>
        <nav class="site-footer__menu">
          <a class="site-footer__link" href="">Privacy & cookies</a>
          <a class="site-footer__link" href="">Give feedback on this service</a>
        </nav>
      </div>
    </footer>

  </body>
</html>
