<!DOCTYPE html>
<html>
  <head>
    <title>IHaveINeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="site-header">
      <div class="site-header__inner container">
        <%= link_to image_tag('logo.svg'), root_path %>
        <ul class="site-header__nav">
          <li class="site-header__nav-link">
            <%= link_to_unless_current 'People', contacts_path, controller: :contacts %>
          </li>
          <li class="site-header__nav-link">
            <%= link_to_unless_current 'Users', users_path, controller: :users %>
          </li>
        </ul>
        <% if current_user %>
          <%= current_user.email %>
          (<%= link_to 'Logo ut', auth.sign_out_path %>)
        <% else %>
          <%= link_to 'Log in', auth.sign_in_path %>
        <% end %>
      </div>
    </header>

    <div class="main-content">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <p class="site-footer__notice">© 2020 Council name here</p>
        <nav class="site-footer__menu">
          <a class="site-footer__link" href="">Privacy & cookies</a>
          <a class="site-footer__link" href="">Give feedback on this service</a>
        </nav>
      </div>
    </footer>

  </body>
</html>
