<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head"%>
  <body>

    <%= render "shared/side-nav" %>

    <div class="content-pane">

      <header class="panel content-header">
        <%= yield :header %>
        <nav class="content-header__actions-right">
          <span class="content-header__current-user"><%= current_user.email %></span>
          <%= link_to 'Log out', auth.sign_out_path, class: "button button--small" %>
        </nav>
      </header>

      <%# is there a better catchall for this? %>
      <% flash.each do |name, msg| %>
        <div class="alert"><%= msg %></div>
      <% end %>

      <%= yield %>

    </div>

  </body>
</html>
