<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head"%>
  <body>

    <%= render "shared/side-nav" %>

    <div class="content-pane">

      <header class="panel content-header">
        <%= yield :header %>
        <nav class="content-header__actions-right">

          <div class="content-header__roles">
            <% if current_user.roles.count > 1 %>
              <%# Switch role section %>
              <%= form_tag(set_role_path, :method => :post) do %>
                <%= label_tag :id, 'Role:' %>
                <%= select_tag :id, options_from_collection_for_select(current_user.roles.order(:id), :id, :name, current_user.role_id) %>
                <%= submit_tag 'Switch' %>
              <% end %>
            <% else %>
              (<%= current_user.role.name %>)
            <% end %>
          </div>

          <span class="content-header__current-user"><%= current_user.email %></span>
          <%= link_to 'Log out', auth.sign_out_path, class: "button button--small" %>
        </nav>
      </header>

      <%# is there a better catchall for this? %>
      <% flash.each do |name, msg| %>
        <div class="alert"><%= msg %></div>
      <% end %>

      <%= yield %>

    </div>

  </body>
</html>
