<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head"%>
  <body>

    <%= render "shared/side-nav" %>

    <div class="content-pane">

      <header class="panel content-header">
        <%= yield :header %>
        <nav class="content-header__actions-right">
          <span class="content-header__current-user"><%= current_user.email %></span>
          <%= link_to 'Log out', auth.sign_out_path, class: "button button--small" %>
        </nav>
      </header>
      
      <!-- Concurrent Users modal -->
      <div id="concurrent-users-modal">
        <div id="concurrent-users"></div>
        <div id="contactId" hidden="hidden"><%= @edit_contact_id %></div>
        <div id="userEmail" hidden="hidden"><%= current_user.email %></div>
      </div>

      <!-- Notifications -->
      <% flash.each do |type, msg| %>
        <div class="<%= type %>"><%= msg %></div>
      <% end %>

      <%= yield %>

    </div>

  </body>
</html>
