<!DOCTYPE html>
<html>
  <head>
    <title>IHaveINeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="login">

    <%= image_tag('logo.svg') %>

    <div class="login-panel <%= yield :class %>">
      <%= yield %>
    </div>

    <p>Having trouble? <a href="">Email us</a></p>

  </body>
</html>
