<!DOCTYPE html>
<html>
  <head>
    <title>IHaveINeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="login">

    <%= link_to image_tag('logo.svg'), root_path %>

    <div class="login-panel">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    Having trouble? <a href="">Email us</a>

  </body>
</html>
